openapi: 3.0.0
info:
  version: 1.0.0
  title: Qovery API
  description: Qovery is the fastest way to deploy your full-stack apps on any Cloud provider
  contact:
    name: Qovery Support Team
    url: 'https://discord.qovery.com'
    email: support+api+documentation@qovery.com
  x-logo:
    url: 'https://uploads-ssl.webflow.com/5de176c0d41c9b4a1dbbb0aa/5f9b214e6d66a454556d8b5b_qovery_logo_with_name_dark_2048.png'
    altText: Qovery
servers:
  - url: 'https://api.qovery.com'
paths:
  /organization:
    get:
      summary: List user organizations
      operationId: listOrganization
      tags:
        - organization
      responses:
        '200':
          description: List organizations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationResponseList'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    post:
      summary: Create an organization
      operationId: createOrganization
      tags:
        - organization
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationRequest'
      responses:
        '201':
          description: Create organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationResponse'
        '400':
          description: Bad request
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          description: Organization name is already taken
  '/organization/{organizationId}':
    get:
      summary: Get organization by ID
      operationId: getOrganization
      parameters:
        - $ref: '#/components/parameters/organizationId'
      tags:
        - organization
      responses:
        '200':
          description: Get organization by ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    put:
      summary: Edit an organization
      description: To edit an organization you must have the admin permission
      operationId: editOrganization
      parameters:
        - $ref: '#/components/parameters/organizationId'
      tags:
        - organization
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationRequest'
      responses:
        '200':
          description: Edit an organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationResponse'
        '400':
          $ref: '#/paths/~1organization/post/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          description: Organization name is already taken
    delete:
      summary: Delete an organization
      description: To delete an organization you must have the admin permission
      operationId: deleteOrganization
      parameters:
        - $ref: '#/components/parameters/organizationId'
      tags:
        - organization
      responses:
        '204':
          $ref: '#/components/responses/204-deletion'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/organization/{organizationId}/project':
    get:
      summary: List projects
      operationId: listProject
      parameters:
        - $ref: '#/components/parameters/organizationId'
      tags:
        - project
      responses:
        '200':
          description: List projects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResponseList'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    post:
      summary: Create a project
      operationId: createProject
      parameters:
        - $ref: '#/components/parameters/organizationId'
      tags:
        - project
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectRequest'
      responses:
        '200':
          description: Create project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResponse'
        '400':
          $ref: '#/paths/~1organization/post/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          description: Project name within the organization is already taken
  '/organization/{organizationId}/project/stats':
    get:
      summary: List total number of services and environments for each project of the organization
      description: 'Returns a list of project ids, and for each its total numberof services and environments'
      operationId: getOrganizationProjectStats
      parameters:
        - $ref: '#/components/parameters/projectId'
      tags:
        - project
      responses:
        '200':
          description: Get number of services
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/paths/~1project~1%7BprojectId%7D~1environment~1status/get/responses/200/content/application~1json/schema/allOf/0'
                  - type: object
                    required:
                      - number
                    properties:
                      environment_total_number:
                        type: number
                  - type: object
                    required:
                      - number
                    properties:
                      service_total_number:
                        type: number
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/project/{projectId}':
    get:
      summary: Get project by ID
      operationId: getProject
      parameters:
        - $ref: '#/components/parameters/projectId'
      tags:
        - project
      responses:
        '200':
          description: Get project by ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    put:
      summary: Edit a project
      description: To edit a project you must have the admin permission
      operationId: editProject
      parameters:
        - $ref: '#/components/parameters/projectId'
      tags:
        - project
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectRequest'
      responses:
        '200':
          description: Edit a project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResponse'
        '400':
          $ref: '#/paths/~1organization/post/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          description: Project name within the organization is already taken
    delete:
      summary: Delete a project
      description: To delete a project you must have the admin permission
      operationId: deleteProject
      parameters:
        - $ref: '#/components/parameters/projectId'
      tags:
        - project
      responses:
        '204':
          $ref: '#/components/responses/204-deletion'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/project/{projectId}/deploymentRule':
    get:
      summary: List project deployment rules
      operationId: listProjectDeploymentRule
      parameters:
        - $ref: '#/components/parameters/projectId'
      tags:
        - project
      responses:
        '200':
          description: Get deployment rules
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/paths/~1project~1%7BprojectId%7D~1deploymentRule/post/responses/201/content/application~1json/schema'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    post:
      summary: Create a deployment rule
      operationId: createDeploymentRule
      parameters:
        - $ref: '#/components/parameters/projectId'
      tags:
        - project
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  required:
                    - name
                    - mode
                    - cluster
                    - always_up
                  properties:
                    name:
                      type: string
                      description: name is case insensitive
                    description:
                      type: string
                    mode:
                      type: string
                      enum:
                        - PRODUCTION
                        - DEVELOPMENT
                    cluster:
                      type: string
                      format: uuid
                    auto_deploy:
                      type: boolean
                      default: true
                    auto_delete:
                      type: boolean
                      default: false
                    always_up:
                      type: boolean
                      default: false
                    start_time:
                      type: string
                      format: date-time
                      nullable: true
                      description: specify value only if always_up = false
                    stop_time:
                      type: string
                      format: date-time
                      nullable: true
                      description: specify value only if always_up = false
                    weekday:
                      type: string
                      enum:
                        - MONDAY
                        - TUESDAY
                        - WEDNESDAY
                        - THURSDAY
                        - FRIDAY
                        - SATURDAY
                        - SUNDAY
                      example:
                        - MONDAY
                        - WEDNESDAY
                        - FRIDAY
                      nullable: true
                      description: specify value only if always_up = false
                - type: object
                  required:
                    - environment_target
                  properties:
                    environment_target:
                      type: string
                      description: specify here a regex based on environment name that will target new environments after their creation
                      example: ^feat
      responses:
        '201':
          description: Create deployment rule
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - $ref: '#/paths/~1project~1%7BprojectId%7D~1deploymentRule/post/requestBody/content/application~1json/schema'
        '400':
          $ref: '#/paths/~1organization/post/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/project/{projectId}/deploymentRule/{deploymentRuleId}':
    get:
      summary: Get project deployment rule
      operationId: getProjectDeploymentRule
      parameters:
        - $ref: '#/components/parameters/projectId'
        - name: deploymentRuleId
          in: path
          description: Deployment Rule ID
          required: true
          schema:
            type: string
            format: uuid
      tags:
        - project
      responses:
        '200':
          description: Get deployment rule
          content:
            application/json:
              schema:
                $ref: '#/paths/~1project~1%7BprojectId%7D~1deploymentRule/post/responses/201/content/application~1json/schema'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    put:
      summary: Edit a project deployment rule
      operationId: editProjectDeployemtnRule
      parameters:
        - $ref: '#/components/parameters/projectId'
        - $ref: '#/paths/~1project~1%7BprojectId%7D~1deploymentRule~1%7BdeploymentRuleId%7D/get/parameters/1'
      tags:
        - project
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/paths/~1project~1%7BprojectId%7D~1deploymentRule/post/requestBody/content/application~1json/schema'
      responses:
        '200':
          description: Edit a project deployment rule
          content:
            application/json:
              schema:
                $ref: '#/paths/~1project~1%7BprojectId%7D~1deploymentRule/post/responses/201/content/application~1json/schema'
        '400':
          $ref: '#/paths/~1organization/post/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          description: Project name within the organization is already taken
    delete:
      summary: Delete a project deployment rule
      operationId: deleteProjectDeploymentRule
      parameters:
        - $ref: '#/components/parameters/projectId'
        - $ref: '#/paths/~1project~1%7BprojectId%7D~1deploymentRule~1%7BdeploymentRuleId%7D/get/parameters/1'
      tags:
        - project
      responses:
        '204':
          $ref: '#/components/responses/204-deletion'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/project/{projectId}/environment':
    get:
      summary: List environments
      operationId: listEnvironment
      parameters:
        - $ref: '#/components/parameters/projectId'
      tags:
        - environment
      responses:
        '200':
          description: List environments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentResponseList'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    post:
      summary: Create an environment
      operationId: createEnvironment
      parameters:
        - $ref: '#/components/parameters/projectId'
      tags:
        - environment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentRequest'
      responses:
        '201':
          description: Create environment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentResponse'
        '400':
          $ref: '#/paths/~1organization/post/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          description: Environment name within the project is already taken
  '/project/{projectId}/environmentVariable':
    get:
      summary: List project environment variables
      operationId: listProjectEnvironmentVariable
      parameters:
        - $ref: '#/components/parameters/projectId'
      tags:
        - project
      responses:
        '200':
          description: List project environment variables
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentVariableResponseList'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    post:
      summary: Add an environment variable to the project
      description: |
        - Add an environment variable to the project.
          - If the environment variable key already exists, then it will be replaced by the new one.
          - If the environment variable value points toward an existing environment variable key, it will be considered as an alias.
      operationId: createProjectEnvironmentVariable
      parameters:
        - $ref: '#/components/parameters/projectId'
      tags:
        - project
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentVariableRequest'
      responses:
        '201':
          description: Added an environment variable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentVariableResponse'
        '400':
          $ref: '#/paths/~1organization/post/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/project/{projectId}/environmentVariable/{environmentVariableId}':
    delete:
      summary: Delete an environment variable from a project
      description: |
        - To delete an environment variable you must have the project user permission
        - You can't delete a BUILT_IN variable
        - If you delete a variable having override or alias, the associated override/alias will be deleted as well
      operationId: deleteProjectEnvironmentVariable
      parameters:
        - $ref: '#/components/parameters/projectId'
        - $ref: '#/components/parameters/environmentVariableId'
      tags:
        - project
      responses:
        '204':
          $ref: '#/components/responses/204-deletion'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    put:
      summary: Edit an environment variable belonging to the project
      description: |
        - You can't edit a BUILT_IN variable
        - For an override, you can't edit the key
        - For an alias, you can't edit the value
        - An override can only have a scope lower to the variable it is overriding (hierarchy is BUILT_IN > PROJECT > ENVIRONMENT > APPLICATION)
      operationId: editProjectEnvironmentVariable
      parameters:
        - $ref: '#/components/parameters/projectId'
        - $ref: '#/components/parameters/environmentVariableId'
      tags:
        - project
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  type: string
                key:
                  type: string
                scope:
                  type: string
                  enum:
                    - APPLICATION
                    - ENVIRONMENT
                    - BUILT_IN
      responses:
        '200':
          description: Edited the environment variable value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentVariableResponse'
        '400':
          $ref: '#/paths/~1organization/post/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/project/{projectId}/environmentVariable/{environmentVariableId}/override':
    post:
      summary: Create an environment variable override at the project level
      description: |
        - Allows you to override at project level an environment variable that has a higher scope.
        - You only have to specify a value in the request body
        - The system will create a new environment variable at project level with the same key as the one corresponding to the variable id in the path
        - The response body will contain the newly created variable
        - Information regarding the overriden_variable will be exposed in the "overriden_variable" field of the newly created variable
      operationId: createProjectEnvironmentVariableOverride
      parameters:
        - $ref: '#/components/parameters/projectId'
        - $ref: '#/components/parameters/environmentVariableId'
      tags:
        - project
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/paths/~1project~1%7BprojectId%7D~1secret~1%7BsecretId%7D~1override/post/requestBody/content/application~1json/schema'
      responses:
        '201':
          description: Create variable override
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentVariableResponse'
        '400':
          description: Can't create an override on a higher scope. Overrides can only be created from one scope to a lower scope. Scope hierarchy is BUILT_IN > PROJECT > ENVIRONMENT > APPLICATION
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/project/{projectId}/environmentVariable/{environmentVariableId}/alias':
    post:
      summary: Create an environment variable alias at the project level
      description: |
        - Allows you to add an alias on an existing environment variable, at project level, in order to customize its key.
        - You only have to specify a key in the request body
        - The system will create a new environment variable at project level with the same value as the one corresponding to the variable id in the path
        - The response body will contain the newly created variable
        - Information regarding the aliased_variable will be exposed in the "aliased_variable" field of the newly created variable
        - Only 1 alias level is allowed. You can't create an alias on an alias
      operationId: createProjectEnvironmentVariableAlias
      parameters:
        - $ref: '#/components/parameters/projectId'
        - $ref: '#/components/parameters/environmentVariableId'
      tags:
        - project
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/paths/~1project~1%7BprojectId%7D~1secret~1%7BsecretId%7D~1alias/post/requestBody/content/application~1json/schema'
      responses:
        '201':
          description: Create variable alias
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentVariableResponse'
        '400':
          $ref: '#/paths/~1organization/post/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/project/{projectId}/secret':
    get:
      summary: List project secrets
      operationId: listProjectSecrets
      parameters:
        - $ref: '#/components/parameters/projectId'
      tags:
        - project
      responses:
        '200':
          description: List project secrets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretResponseList'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    post:
      summary: Add a secret to the project
      description: |
        - Add a secret to the project.
          - If the secret key already exists, then it will be replaced by the new one.
          - If the secret value points toward an existing secret key, it will be considered as an alias.
      operationId: createProjectSecret
      parameters:
        - $ref: '#/components/parameters/projectId'
      tags:
        - project
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecretRequest'
      responses:
        '201':
          description: Added a secret
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretResponse'
        '400':
          $ref: '#/paths/~1organization/post/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/project/{projectId}/secret/{secretId}':
    delete:
      summary: Delete a secret from a project
      description: |
        - To delete a secret you must have the project user permission
        - You can't delete a BUILT_IN secret
        - If you delete a secret having override or alias, the associated override/alias will be deleted as well  operationId: deleteProjectSecret
      parameters:
        - $ref: '#/components/parameters/projectId'
        - $ref: '#/components/parameters/secretId'
      tags:
        - project
      responses:
        '204':
          $ref: '#/components/responses/204-deletion'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    put:
      summary: Edit a secret belonging to the project
      description: |
        - You can't edit a BUILT_IN secret
        - For an override, you can't edit the key
        - For an alias, you can't edit the value
        - An override can only have a scope lower to the secret it is overriding (hierarchy is BUILT_IN > PROJECT > ENVIRONMENT > APPLICATION)
      operationId: editProjectSecret
      parameters:
        - $ref: '#/components/parameters/projectId'
        - $ref: '#/components/parameters/secretId'
      tags:
        - project
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  type: string
                key:
                  type: string
                scope:
                  type: string
                  enum:
                    - APPLICATION
                    - ENVIRONMENT
                    - BUILT_IN
      responses:
        '200':
          description: Edited the secret value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretResponse'
        '400':
          $ref: '#/paths/~1organization/post/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/project/{projectId}/secret/{secretId}/override':
    post:
      summary: Create a secret override at the project level
      description: |
        - Allows you to override at project level a secret that has a higher scope.
        - You only have to specify a value in the request body
        - The system will create a new secret at project level with the same key as the one corresponding to the secret id in the path
        - The response body will contain the newly created secret
        - Information regarding the overriden_secret will be exposed in the "overriden_secret" field of the newly created secret
      operationId: createProjectSecretOverride
      parameters:
        - $ref: '#/components/parameters/projectId'
        - $ref: '#/components/parameters/secretId'
      tags:
        - project
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
      responses:
        '201':
          description: Create secret override
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretResponse'
        '400':
          description: Can't create an override on a higher scope. Overrides can only be created from one scope to a lower scope. Scope hierarchy is BUILT_IN > PROJECT > ENVIRONMENT > APPLICATION
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/project/{projectId}/secret/{secretId}/alias':
    post:
      summary: Create a secret alias at the project level
      description: |
        - Allows you to add an alias on an existing secret, at project level, in order to customize its key.
        - You only have to specify a key in the request body
        - The system will create a new secret at project level with the same value as the one corresponding to the secret id in the path
        - The response body will contain the newly created secret
        - Information regarding the aliased_secret will be exposed in the "aliased_secret" field of the newly created secret
        - Only 1 alias level is allowed. You can't create an alias on an alias
      operationId: createProjectSecretAlias
      parameters:
        - $ref: '#/components/parameters/projectId'
        - $ref: '#/components/parameters/secretId'
      tags:
        - project
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - key
              properties:
                key:
                  type: string
      responses:
        '201':
          description: Create secret alias
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretResponse'
        '400':
          $ref: '#/paths/~1organization/post/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/project/{projectId}/environment/status':
    get:
      summary: List environments statuses
      description: Returns a list of environments with only their id and status.
      operationId: getProjectEnvironmentStatus
      parameters:
        - $ref: '#/components/parameters/projectId'
      tags:
        - environment
      responses:
        '200':
          description: Get status
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    required:
                      - id
                    properties:
                      id:
                        type: string
                        format: uuid
                        readOnly: true
                  - $ref: '#/components/schemas/Status'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/project/{projectId}/environment/service/number':
    get:
      summary: List total number of services for each environment of the project
      description: 'Returns a list of environment ids, and for each its total numberof services'
      operationId: getProjectEnvironmentServiceNumber
      parameters:
        - $ref: '#/components/parameters/projectId'
      tags:
        - environment
      responses:
        '200':
          description: Get number of services
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/paths/~1project~1%7BprojectId%7D~1environment~1status/get/responses/200/content/application~1json/schema/allOf/0'
                  - $ref: '#/paths/~1organization~1%7BorganizationId%7D~1project~1stats/get/responses/200/content/application~1json/schema/allOf/2'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/environment/{environmentId}':
    get:
      summary: Get environment by ID
      operationId: getEnvironment
      parameters:
        - $ref: '#/components/parameters/environmentId'
      tags:
        - environment
      responses:
        '200':
          description: Get environment by ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    put:
      summary: Edit an environment
      description: To edit an environment you must have the admin permission
      operationId: editEnvironment
      parameters:
        - $ref: '#/components/parameters/environmentId'
      tags:
        - environment
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                reference_branch:
                  type: string
      responses:
        '200':
          description: Edit an environment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentResponse'
        '400':
          $ref: '#/paths/~1organization/post/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          description: Environment name within the project is already taken
    delete:
      summary: Delete an environment
      description: To delete an environment you must have the admin permission
      operationId: deleteEnvironment
      parameters:
        - $ref: '#/components/parameters/environmentId'
      tags:
        - environment
      responses:
        '204':
          $ref: '#/components/responses/204-deletion'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/environment/{environmentId}/status':
    get:
      summary: Get environment status
      operationId: getEnvironmentStatus
      parameters:
        - $ref: '#/components/parameters/environmentId'
      tags:
        - environment
      responses:
        '200':
          description: Get status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/environment/{environmentId}/deploymentRule':
    get:
      summary: Get environment deployment rule
      operationId: getEnvironmentDeploymentRule
      parameters:
        - $ref: '#/components/parameters/environmentId'
      tags:
        - environment
      responses:
        '200':
          description: Get deployment rule
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/paths/~1project~1%7BprojectId%7D~1deploymentRule/post/requestBody/content/application~1json/schema/allOf/0'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/environment/{environmentId}/deploymentRule/{deploymentRuleId}':
    put:
      summary: Edit an environment deployment rule
      operationId: editEnvironmentDeployemtnRule
      parameters:
        - $ref: '#/components/parameters/environmentId'
        - $ref: '#/paths/~1project~1%7BprojectId%7D~1deploymentRule~1%7BdeploymentRuleId%7D/get/parameters/1'
      tags:
        - environment
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: name is case insensitive
                description:
                  type: string
                auto_deploy:
                  type: boolean
                  default: true
                auto_delete:
                  type: boolean
                  default: false
                start_time:
                  type: string
                  format: date-time
                stop_time:
                  type: string
                  format: date-time
                weekday:
                  type: string
                  enum:
                    - MONDAY
                    - TUESDAY
                    - WEDNESDAY
                    - THURSDAY
                    - FRIDAY
                    - SATURDAY
                    - SUNDAY
                  example:
                    - MONDAY
                    - WEDNESDAY
                    - FRIDAY
      responses:
        '200':
          description: Edit environment deployment rule
          content:
            application/json:
              schema:
                $ref: '#/paths/~1environment~1%7BenvironmentId%7D~1deploymentRule/get/responses/200/content/application~1json/schema'
        '400':
          $ref: '#/paths/~1organization/post/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/environment/{environmentId}/service':
    get:
      summary: List environment services
      description: 'List all services within the environment (applications, databases, jobs, gateways...)'
      operationId: listEnvironmentService
      parameters:
        - $ref: '#/components/parameters/environmentId'
      tags:
        - environment
      responses:
        '200':
          description: List environment services
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      allOf:
                        - $ref: '#/components/schemas/BaseResponse'
                        - type: object
                          properties:
                            type:
                              type: string
                              description: 'type of the service (application, database, job, gateway...)'
                              enum:
                                - APPLICATION
                                - DATABASE
                            name:
                              type: string
                              description: name of the service
                            id:
                              type: string
                              description: 'uuid of the associated service (application, database, job, gateway...)'
                              format: uuid
                            last_updated_by:
                              type: string
                              format: uuid
                              description: uuid of the user that made the last update
                            consumed_resources_in_percent:
                              type: number
                              description: global overview of resources consumption of the service
                            service_typology:
                              type: string
                              example: container
                              description: 'describes the typology of service (container, postgresl, redis...)'
                            service_version:
                              type: string
                              description: for databases this field exposes the database version
                              example: v12
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/environment/{environmentId}/service/status':
    get:
      summary: List all environment services statuses
      description: Returns a list of services with only their id and status.
      operationId: getEnvironmentServiceStatus
      parameters:
        - $ref: '#/components/parameters/environmentId'
      tags:
        - environment
      responses:
        '200':
          description: Get status
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/paths/~1project~1%7BprojectId%7D~1environment~1status/get/responses/200/content/application~1json/schema/allOf/0'
                  - $ref: '#/components/schemas/Status'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/environment/{environmentId}/deploy':
    post:
      summary: Deploy environment
      description: This will deploy all the services of this environment to their latest version.
      operationId: deployEnvironment
      parameters:
        - $ref: '#/components/parameters/environmentId'
      tags:
        - environment
      responses:
        '202':
          description: Deploy environment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          description: Operation is in progress
  '/environment/{environmentId}/stop':
    post:
      summary: Stop environment
      operationId: stopEnvironment
      parameters:
        - $ref: '#/components/parameters/environmentId'
      tags:
        - environment
      responses:
        '202':
          description: Environment stop has been requested
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          description: Environment is already stopped or an operation is in progress
  '/environment/{environmentId}/restart':
    post:
      summary: Restart environment
      operationId: restartEnvironment
      parameters:
        - $ref: '#/components/parameters/environmentId'
      tags:
        - environment
      responses:
        '202':
          description: Environment restart has been requested
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          description: Operation is in progress
  '/environment/{environmentId}/clone':
    post:
      summary: Clone environment
      description: 'You must provide a name. This will create a new environment, with the same configuration, and same applications and databases. Database data is not cloned.'
      operationId: cloneEnvironment
      parameters:
        - $ref: '#/components/parameters/environmentId'
      tags:
        - environment
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
      responses:
        '202':
          description: Environment clone has been requested
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          description: Operation is in progress
  '/environment/{environmentId}/application':
    get:
      summary: List applications
      operationId: listApplication
      parameters:
        - $ref: '#/components/parameters/environmentId'
      tags:
        - application
      responses:
        '200':
          description: List applications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResponseList'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    post:
      summary: Create an application
      operationId: createApplication
      parameters:
        - $ref: '#/components/parameters/environmentId'
      tags:
        - application
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationRequest'
      responses:
        '201':
          description: Create application
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResponse'
        '400':
          $ref: '#/paths/~1organization/post/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          description: Application name within the environment is already taken
  '/environment/{environmentId}/application/status':
    get:
      summary: List all environment applications statuses
      description: Returns a list of applications with only their id and status.
      operationId: getEnvironmentApplicationStatus
      parameters:
        - $ref: '#/components/parameters/environmentId'
      tags:
        - application
      responses:
        '200':
          description: Get status
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/paths/~1project~1%7BprojectId%7D~1environment~1status/get/responses/200/content/application~1json/schema/allOf/0'
                  - $ref: '#/components/schemas/Status'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/environment/{environmentId}/log':
    get:
      summary: List environment deployment logs
      operationId: listEnvironmentLog
      description: 'By default it returns the 20 last results. The response is paginated. In order to request the next page, you can use the startId query parameter'
      parameters:
        - $ref: '#/components/parameters/environmentId'
        - $ref: '#/paths/~1database~1%7BdatabaseId%7D~1event/get/parameters/1'
      tags:
        - environment
      responses:
        '200':
          description: List logs
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/paths/~1database~1%7BdatabaseId%7D~1event/get/responses/200/content/application~1json/schema/allOf/0'
                  - type: object
                    properties:
                      results:
                        type: array
                        items:
                          $ref: '#/paths/~1environment~1%7BenvironmentId%7D~1log%3Ftail%3D/get/responses/200/content/application~1json/schema/properties/results/items'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/environment/{environmentId}/log?tail=':
    get:
      summary: List XX last environment deployment logs
      description: Returns all last XX environment logs. Response is not paginated
      operationId: listEnvironmentLogTail
      parameters:
        - $ref: '#/components/parameters/environmentId'
        - $ref: '#/paths/~1database~1%7BdatabaseId%7D~1event%3Ftail%3D/get/parameters/1'
      tags:
        - environment
      responses:
        '200':
          description: List logs
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      required:
                        - id
                        - created_at
                        - service
                        - status
                        - message
                      properties:
                        id:
                          type: string
                          format: uuid
                        created_at:
                          type: string
                          format: date-time
                        scope:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - APPLICATION
                                - DATABASE
                                - ENVIRONMENT
                            name:
                              type: string
                            id:
                              type: string
                              format: uuid
                        status:
                          $ref: '#/components/schemas/Status'
                        execution_id:
                          type: string
                          description: Only for errors. Helps Qovery team to investigate.
                        hint:
                          type: string
                          example: only for errors. it gives a possible action to the user -- Markdown can be injected
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/environment/{environmentId}/log?lastId=':
    get:
      summary: List all the last environment deployment logs after a certain log Id
      description: 'Returns all last logs that happened on the environment, after the log ID you specify in the lastId query parameter. Response is not paginated'
      operationId: listEnvironmentLogLastId
      parameters:
        - $ref: '#/components/parameters/environmentId'
        - $ref: '#/paths/~1database~1%7BdatabaseId%7D~1event%3FlastId%3D/get/parameters/1'
      tags:
        - environment
      responses:
        '200':
          description: List logs
          content:
            application/json:
              schema:
                $ref: '#/paths/~1environment~1%7BenvironmentId%7D~1log%3Ftail%3D/get/responses/200/content/application~1json/schema'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/environment/{environmentId}/deploymentHistory':
    get:
      summary: List environment deploys
      description: 'By default it returns the 20 last results. The response is paginated. In order to request the next page, you can use the startId query parameter'
      operationId: listEnvironmentDeploymentHistory
      parameters:
        - $ref: '#/components/parameters/environmentId'
        - $ref: '#/paths/~1database~1%7BdatabaseId%7D~1event/get/parameters/1'
      tags:
        - environment
      responses:
        '200':
          description: List deployment history
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/paths/~1database~1%7BdatabaseId%7D~1event/get/responses/200/content/application~1json/schema/allOf/0'
                  - type: object
                    properties:
                      results:
                        type: array
                        items:
                          $ref: '#/paths/~1environment~1%7BenvironmentId%7D~1deploymentHistory%3Ftail%3D/get/responses/200/content/application~1json/schema/properties/results/items'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/environment/{environmentId}/deploymentHistory?tail=':
    get:
      summary: List XX last environment deploys
      description: Returns all last XX deploys. Response is not paginated
      operationId: listEnvironmentDeploymentHistoryTail
      parameters:
        - $ref: '#/components/parameters/environmentId'
        - $ref: '#/paths/~1database~1%7BdatabaseId%7D~1event%3Ftail%3D/get/parameters/1'
      tags:
        - environment
      responses:
        '200':
          description: List events
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      allOf:
                        - $ref: '#/components/schemas/BaseResponse'
                        - type: object
                          properties:
                            service:
                              type: object
                              properties:
                                type:
                                  type: string
                                  enum:
                                    - APPLICATION
                                    - DATABASE
                                name:
                                  type: string
                                id:
                                  type: string
                                  format: uuid
                            commit:
                              $ref: '#/components/schemas/CommitResponse'
                            status:
                              $ref: '#/components/schemas/Status'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/environment/{environmentId}/deploymentHistory?lastId=':
    get:
      summary: List all the last environment deploys after a certain event Id
      description: 'Returns all last deploys that happened on the environment, after the event ID you specify in the lastId query parameter. Response is not paginated'
      operationId: listEnvironmentDeploymentHistoryLastId
      parameters:
        - $ref: '#/components/parameters/environmentId'
        - $ref: '#/paths/~1database~1%7BdatabaseId%7D~1event%3FlastId%3D/get/parameters/1'
      tags:
        - environment
      responses:
        '200':
          description: List deploys
          content:
            application/json:
              schema:
                $ref: '#/paths/~1environment~1%7BenvironmentId%7D~1deploymentHistory%3Ftail%3D/get/responses/200/content/application~1json/schema'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/environment/{environmentId}/environmentVariable':
    get:
      summary: List environment variables
      operationId: listEnvironmentEnvironmentVariable
      parameters:
        - $ref: '#/components/parameters/environmentId'
      tags:
        - environment
      responses:
        '200':
          description: List environment variables
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentVariableResponseList'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    post:
      summary: Add an environment variable to the environment
      description: |
        - Add an environment variable to the environment.
          - If the environment variable key already exists, then it will be replaced by the new one.
          - If the environment variable value points toward an existing environment variable key, it will be considered as an alias.
      operationId: createEnvironmentEnvironmentVariable
      parameters:
        - $ref: '#/components/parameters/environmentId'
      tags:
        - environment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentVariableRequest'
      responses:
        '201':
          description: Added an environment variable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentVariableResponse'
        '400':
          $ref: '#/paths/~1organization/post/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/environment/{environmentId}/environmentVariable/{environmentVariableId}':
    delete:
      summary: Delete an environment variable from an environment
      description: |
        - To delete an environment variable you must have the project user permission
        - You can't delete a BUILT_IN variable
        - If you delete a variable having override or alias, the associated override/alias will be deleted as well
      operationId: deleteEnvironmentEnvironmentVariable
      parameters:
        - $ref: '#/components/parameters/environmentId'
        - $ref: '#/components/parameters/environmentVariableId'
      tags:
        - environment
      responses:
        '204':
          $ref: '#/components/responses/204-deletion'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    put:
      summary: Edit an environment variable belonging to the environment
      description: |
        - You can't edit a BUILT_IN variable
        - For an override, you can't edit the key
        - For an alias, you can't edit the value
        - An override can only have a scope lower to the variable it is overriding (hierarchy is BUILT_IN > PROJECT > ENVIRONMENT > APPLICATION)
      operationId: editEnvironmentEnvironmentVariable
      parameters:
        - $ref: '#/components/parameters/environmentId'
        - $ref: '#/components/parameters/environmentVariableId'
      tags:
        - environment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  type: string
                key:
                  type: string
                scope:
                  type: string
                  enum:
                    - APPLICATION
                    - ENVIRONMENT
                    - BUILT_IN
      responses:
        '200':
          description: Edited the environment variable value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentVariableResponse'
        '400':
          $ref: '#/paths/~1organization/post/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/environment/{environmentId}/environmentVariable/{environmentVariableId}/override':
    post:
      summary: Create an environment variable override at the environment level
      description: |
        - Allows you to override at environment level an environment variable that has a higher scope.
        - You only have to specify a value in the request body
        - The system will create a new environment variable at environment level with the same key as the one corresponding to the variable id in the path
        - The response body will contain the newly created variable
        - Information regarding the overriden_variable will be exposed in the "overriden_variable" field of the newly created variable
      operationId: createEnvironmentEnvironmentVariableOverride
      parameters:
        - $ref: '#/components/parameters/environmentId'
        - $ref: '#/components/parameters/environmentVariableId'
      tags:
        - environment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/paths/~1project~1%7BprojectId%7D~1secret~1%7BsecretId%7D~1override/post/requestBody/content/application~1json/schema'
      responses:
        '201':
          description: Create variable override
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentVariableResponse'
        '400':
          description: Can't create an override on a higher scope. Overrides can only be created from one scope to a lower scope. Scope hierarchy is BUILT_IN > PROJECT > ENVIRONMENT > APPLICATION
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/environment/{environmentId}/environmentVariable/{environmentVariableId}/alias':
    post:
      summary: Create an environment variable alias at the environment level
      description: |
        - Allows you to add an alias on an existing environment variable, at environment level, in order to customize its key.
        - You only have to specify a key in the request body
        - The system will create a new environment variable at environment level with the same value as the one corresponding to the variable id in the path
        - The response body will contain the newly created variable
        - Information regarding the aliased_variable will be exposed in the "aliased_variable" field of the newly created variable
        - Only 1 alias level is allowed. You can't create an alias on an alias
      operationId: createEnvironmentEnvironmentVariableAlias
      parameters:
        - $ref: '#/components/parameters/environmentId'
        - $ref: '#/components/parameters/environmentVariableId'
      tags:
        - environment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/paths/~1project~1%7BprojectId%7D~1secret~1%7BsecretId%7D~1alias/post/requestBody/content/application~1json/schema'
      responses:
        '201':
          description: Create variable alias
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentVariableResponse'
        '400':
          $ref: '#/paths/~1organization/post/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/environment/{environmentId}/secret':
    get:
      summary: List environment secrets
      operationId: listEnvironmentSecrets
      parameters:
        - $ref: '#/components/parameters/environmentId'
      tags:
        - environment
      responses:
        '200':
          description: List environment secrets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretResponseList'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    post:
      summary: Add a secret to the environment
      description: |
        - Add a secret to the environment.
          - If the secret key already exists, then it will be replaced by the new one.
          - If the secret value points toward an existing secret key, it will be considered as an alias.
      operationId: createEnvironmentSecret
      parameters:
        - $ref: '#/components/parameters/environmentId'
      tags:
        - environment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecretRequest'
      responses:
        '201':
          description: Added a secret
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretResponse'
        '400':
          $ref: '#/paths/~1organization/post/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/environment/{environmentId}/secret/{secretId}':
    delete:
      summary: Delete a secret from the environment
      description: |
        - To delete a secret you must have the project user permission
        - You can't delete a BUILT_IN secret
        - If you delete a secret having override or alias, the associated override/alias will be deleted as well  operationId: deleteEnvironmentSecret
      parameters:
        - $ref: '#/components/parameters/environmentId'
        - $ref: '#/components/parameters/secretId'
      tags:
        - environment
      responses:
        '204':
          $ref: '#/components/responses/204-deletion'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    put:
      summary: Edit a secret belonging to the environment
      description: |
        - You can't edit a BUILT_IN secret
        - For an override, you can't edit the key
        - For an alias, you can't edit the value
        - An override can only have a scope lower to the secret it is overriding (hierarchy is BUILT_IN > PROJECT > ENVIRONMENT > APPLICATION)
      operationId: editEnvironmentSecret
      parameters:
        - $ref: '#/components/parameters/environmentId'
        - $ref: '#/components/parameters/secretId'
      tags:
        - environment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  type: string
                key:
                  type: string
                scope:
                  type: string
                  enum:
                    - APPLICATION
                    - ENVIRONMENT
                    - BUILT_IN
      responses:
        '200':
          description: Edited the secret value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretResponse'
        '400':
          $ref: '#/paths/~1organization/post/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/environment/{environmentId}/secret/{secretId}/override':
    post:
      summary: Create a secret override at the environment level
      description: |
        - Allows you to override at environment level a secret that has a higher scope.
        - You only have to specify a value in the request body
        - The system will create a new secret at environment level with the same key as the one corresponding to the secret id in the path
        - The response body will contain the newly created secret
        - Information regarding the overriden_secret will be exposed in the "overriden_secret" field of the newly created secret
      operationId: createEnvironmentSecretOverride
      parameters:
        - $ref: '#/components/parameters/environmentId'
        - $ref: '#/components/parameters/secretId'
      tags:
        - environment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/paths/~1project~1%7BprojectId%7D~1secret~1%7BsecretId%7D~1override/post/requestBody/content/application~1json/schema'
      responses:
        '201':
          description: Create secret override
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretResponse'
        '400':
          description: Can't create an override on a higher scope. Overrides can only be created from one scope to a lower scope. Scope hierarchy is BUILT_IN > PROJECT > ENVIRONMENT > APPLICATION
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/environment/{environmentId}/secret/{secretId}/alias':
    post:
      summary: Create a secret alias at the environment level
      description: |
        - Allows you to add an alias on an existing secret, at environment level, in order to customize its key.
        - You only have to specify a key in the request body
        - The system will create a new secret at environment level with the same value as the one corresponding to the secret id in the path
        - The response body will contain the newly created secret
        - Information regarding the aliased_secret will be exposed in the "aliased_secret" field of the newly created secret
        - Only 1 alias level is allowed. You can't create an alias on an alias
      operationId: createEnvironmentSecretAlias
      parameters:
        - $ref: '#/components/parameters/environmentId'
        - $ref: '#/components/parameters/secretId'
      tags:
        - environment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/paths/~1project~1%7BprojectId%7D~1secret~1%7BsecretId%7D~1alias/post/requestBody/content/application~1json/schema'
      responses:
        '201':
          description: Create secret alias
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretResponse'
        '400':
          $ref: '#/paths/~1organization/post/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/environment/{environmentId}/link':
    get:
      summary: List all URLs of the environment
      description: This will return all the custom domains and Qovery autogenerated domain for all the applications within this environment
      operationId: listEnvironmentLinks
      parameters:
        - $ref: '#/components/parameters/environmentId'
      tags:
        - environment
      responses:
        '200':
          description: List links
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      allOf:
                        - type: object
                          properties:
                            name:
                              type: string
                            url:
                              type: string
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/application/{applicationId}':
    get:
      summary: Get application by ID
      operationId: getApplication
      parameters:
        - $ref: '#/components/parameters/applicationId'
      tags:
        - application
      responses:
        '200':
          description: Get application by ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    put:
      summary: Edit application
      description: To edit the application you must have the admin permission
      operationId: editApplication
      parameters:
        - $ref: '#/components/parameters/applicationId'
      tags:
        - application
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: name is case insensitive
                description:
                  type: string
                  description: give a description to this application
                build_mode:
                  type: string
                  enum:
                    - DOCKER
                    - BUILDPACKS
                  description: |
                    `DOCKER` requires `dockerfile_path`
                    `BUILDPACKS` does not require any `dockerfile_path`
                dockerfile_path:
                  type: string
                  description: The path of the associated Dockerfile
                cpu:
                  type: number
                  description: unit is millicores (m). 1000m = 1 cpu
                  default: 250
                  example: 1250
                memory:
                  type: number
                  description: unit is MB. 1024 MB = 1GB
                  default: 256
                  example: 1024
                min_running_instances:
                  type: integer
                  minimum: 0
                  description: |
                    Minimum number of instances running. This resource auto-scale based on the CPU and Memory consumption.
                    Note: 0 means that there is no application running.
                  default: 1
                max_running_instances:
                  type: integer
                  maximum: -1
                  description: |
                    Maximum number of instances running. This resource auto-scale based on the CPU and Memory consumption.
                    Note: -1 means that there is no limit.
                  default: 1
                storage:
                  type: array
                  items:
                    type: object
                    required:
                      - name
                      - type
                      - size
                      - mount_point
                    properties:
                      name:
                        type: string
                        example: images
                      type:
                        type: string
                        enum:
                          - SLOW_HDD
                          - HDD
                          - SSD
                          - FAST_SSD
                      size:
                        type: number
                        description: unit is GB
                        example: 16
                      mount_point:
                        type: string
                        example: /mnt/images
                ports:
                  type: array
                  items:
                    type: object
                    required:
                      - internal_port
                      - protocol
                    properties:
                      internal_port:
                        type: integer
                        example: 8080
                        description: The listening port of your application
                      external_port:
                        type: integer
                        example: 8080
                        description: The exposed port for your application. This is optional. If not set a default port will be used.
                      publicly_accessible:
                        type: boolean
                        default: true
                        description: Expose the port to the world
                      protocol:
                        type: string
                        default: HTTP
                        enum:
                          - HTTPS
                          - HTTP
                          - TCP
                          - UDP
                healthcheck:
                  type: object
                  properties:
                    protocol:
                      type: string
                      enum:
                        - TCP
                        - HTTP
                        - None
                    value:
                      type: string
      responses:
        '200':
          description: Edit application
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResponse'
        '400':
          $ref: '#/paths/~1organization/post/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          description: Application name within the environment is already taken
    delete:
      summary: Delete application
      description: To delete the application you must have the admin permission
      operationId: deleteApplication
      parameters:
        - $ref: '#/components/parameters/applicationId'
      tags:
        - application
      responses:
        '204':
          $ref: '#/components/responses/204-deletion'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/application/{applicationId}/status':
    get:
      summary: Get application status
      operationId: getApplicationStatus
      parameters:
        - $ref: '#/components/parameters/applicationId'
      tags:
        - application
      responses:
        '200':
          description: Get status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/application/{applicationId}/repository':
    post:
      summary: Link a git repository to the application.
      description: 'Allows to link a git repository to an existing application. If a git repository was already linked, then it will be replaced by the new one'
      operationId: linkApplicationToGitRepository
      parameters:
        - $ref: '#/components/parameters/applicationId'
      tags:
        - application
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - provider
                - owner
                - name
                - url
              properties:
                provider:
                  type: string
                  enum:
                    - GITHUB
                    - GITLAB
                owner:
                  type: string
                  example: John Doe
                url:
                  type: string
                  description: application git repository URL
                  example: 'https://github.com/Qovery/simple-node-app'
                name:
                  type: string
                  description: repository name
                  example: simple-node-app
                branch:
                  type: string
                  description: |
                    Name of the branch to use. This is optional
                    If not specified, then the branch used is the `main` or `master` one
                  example: feat/text_xxx
                root_path:
                  type: string
                  default: /
                  description: indicates the root path of the application.
      responses:
        '201':
          description: Link git repository
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResponse'
        '400':
          $ref: '#/paths/~1organization/post/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/application/{applicationId}/contributor':
    get:
      summary: List contributors
      operationId: listApplicationContributor
      parameters:
        - $ref: '#/components/parameters/applicationId'
      tags:
        - application
      responses:
        '200':
          description: List application contributors
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/EventResponse/allOf/1/properties/user'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/application/{applicationId}/tag':
    get:
      summary: List tags
      operationId: listApplicationTag
      parameters:
        - $ref: '#/components/parameters/applicationId'
      tags:
        - application
      responses:
        '200':
          description: List application tags
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagResponseList'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    post:
      summary: Add application tag
      operationId: createApplicationTag
      parameters:
        - $ref: '#/components/parameters/applicationId'
      tags:
        - application
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
      responses:
        '201':
          description: Create application
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagResponseList'
        '400':
          $ref: '#/paths/~1organization/post/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/application/{applicationId}/tag/{tagId}':
    delete:
      summary: Delete application tag
      operationId: deleteApplicationTag
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - name: tagId
          in: path
          description: Tag ID
          required: true
          schema:
            type: string
            format: uuid
      tags:
        - application
      responses:
        '204':
          $ref: '#/components/responses/204-deletion'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/application/{applicationId}/Instance':
    get:
      summary: List currently running instances of the application with their resource metrics
      operationId: getApplicationCurrentInstance
      parameters:
        - $ref: '#/components/parameters/applicationId'
      tags:
        - application
      responses:
        '200':
          description: Know current resource consumption of the application for each running instance
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/paths/~1instance~1%7BinstanceId%7D/get/responses/200/content/application~1json/schema'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/application/{applicationId}/currentScale':
    get:
      summary: Get current number of running instances of the application
      operationId: getApplicationCurrentScale
      parameters:
        - $ref: '#/components/parameters/applicationId'
      tags:
        - application
      responses:
        '200':
          description: Know number of running instances of the application
          content:
            application/json:
              schema:
                type: object
                properties:
                  min:
                    type: integer
                  max:
                    type: integer
                  running:
                    type: integer
                  running_in_percent:
                    type: number
                  warning_threshold_in_percent:
                    type: number
                  alert_threshold_in_percent:
                    type: number
                  status:
                    type: string
                    enum:
                      - OK
                      - Warning
                      - Alert
                  updated_at:
                    type: string
                    readOnly: true
                    format: date-time
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/application/{applicationId}/metric/cpu':
    get:
      summary: Get CPU consumption metric over time for the application
      operationId: getApplicationMetricCpu
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/lastDays'
      tags:
        - application
      responses:
        '200':
          description: CPU consumption
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      required:
                        - instance_name
                        - data
                      properties:
                        instance_name:
                          type: string
                          example: instance 1
                        data:
                          type: array
                          items:
                            $ref: '#/paths/~1database~1%7BdatabaseId%7D~1metric~1cpu/get/responses/200/content/application~1json/schema/properties/results/items'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/application/{applicationId}/metric/memory':
    get:
      summary: Get Memory consumption metric over time for the application
      operationId: getApplicationMetricMemory
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/lastDays'
      tags:
        - application
      responses:
        '200':
          description: Memory consumption
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      required:
                        - instance_name
                        - data
                      properties:
                        instance_name:
                          type: string
                          example: instance 1
                        data:
                          type: array
                          items:
                            $ref: '#/paths/~1database~1%7BdatabaseId%7D~1metric~1memory/get/responses/200/content/application~1json/schema/properties/results/items'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/application/{applicationId}/metric/healthCheck':
    get:
      summary: Get Health Check latency  metric over time for the application
      description: The value returned corresponds to the 95th centile
      operationId: getApplicationMetricHealthCheck
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/lastDays'
      tags:
        - application
      responses:
        '200':
          description: Health Check Latency
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/paths/~1database~1%7BdatabaseId%7D~1metric~1healthCheck/get/responses/200/content/application~1json/schema/properties/results/items'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/application/{applicationId}/metric/storage':
    get:
      summary: Get Storage consumption metric over time for the application
      operationId: getApplicationMetricStorage
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/lastDays'
      tags:
        - application
      responses:
        '200':
          description: Storage consumption
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      required:
                        - instance_name
                        - data
                      properties:
                        instance_name:
                          type: string
                          example: instance 1
                        data:
                          type: array
                          items:
                            $ref: '#/paths/~1database~1%7BdatabaseId%7D~1metric~1storage/get/responses/200/content/application~1json/schema/properties/results/items'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/application/{applicationId}/dependency':
    get:
      summary: List application dependencies
      operationId: listApplicationDependency
      parameters:
        - $ref: '#/components/parameters/applicationId'
      tags:
        - application
      responses:
        '200':
          description: List dependencies
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResponseList'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/application/{applicationId}/dependency/{targetApplicationId}':
    post:
      summary: Add application dependency to this application.
      description: Add application dependency to this application to prevent this application starting before the linked dependencies
      operationId: createApplicationDependency
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/targetApplicationId'
      tags:
        - application
      responses:
        '200':
          description: Add application dependencies
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResponse'
        '400':
          $ref: '#/paths/~1organization/post/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    delete:
      summary: Remove application dependency to this application.
      operationId: removeApplicationDependency
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/targetApplicationId'
      tags:
        - application
      responses:
        '204':
          $ref: '#/components/responses/204-deletion'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/application/{applicationId}/commit':
    get:
      summary: List commits
      operationId: listApplicationCommit
      parameters:
        - $ref: '#/components/parameters/applicationId'
      tags:
        - application
      responses:
        '200':
          description: List commits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommitResponseList'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/application/{applicationId}/deploy':
    post:
      summary: Deploy application
      description: 'If you don''t specify any git commit id, we will deploy the latest version'
      operationId: deployApplication
      parameters:
        - $ref: '#/components/parameters/applicationId'
      tags:
        - application
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeployRequest'
      responses:
        '202':
          description: Deploy application
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResponse'
        '400':
          $ref: '#/paths/~1organization/post/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          description: Operation is in progress
  '/application/{applicationId}/rollback':
    post:
      summary: Rollback application to a previous version
      description: Rollback your application. You must provide the git commit id you want to rollback to
      operationId: rollbackApplicationCommit
      parameters:
        - $ref: '#/components/parameters/applicationId'
      tags:
        - application
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeployRequest'
      responses:
        '202':
          description: Application rollbacked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResponse'
        '400':
          $ref: '#/paths/~1organization/post/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          description: Operation is in progress
  '/application/{applicationId}/stop':
    post:
      summary: Stop application
      operationId: stopApplication
      parameters:
        - $ref: '#/components/parameters/applicationId'
      tags:
        - application
      responses:
        '202':
          description: Application stop has been requested
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          description: Application is already stopped or an operation is in progress
  '/application/{applicationId}/restart':
    post:
      summary: Restart application
      operationId: restartApplication
      parameters:
        - $ref: '#/components/parameters/applicationId'
      tags:
        - application
      responses:
        '202':
          description: Application restart has been requested
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          description: Operation is in progress
  '/application/{applicationId}/event':
    get:
      summary: List application events
      description: 'By default it returns the 20 last results. The response is paginated. In order to request the next page, you can use the startId query parameter'
      operationId: listApplicationEvent
[...]
