openapi: 3.0.0
info:
  version: 1.0.0
  title: Qovery API
  description: Qovery is the fastest way to deploy your full-stack apps on any Cloud provider
  contact:
    name: Qovery Support Team
    url: https://discord.qovery.com
    email: support+api+documentation@qovery.com
  x-logo:
    url: 'https://uploads-ssl.webflow.com/5de176c0d41c9b4a1dbbb0aa/5f9b214e6d66a454556d8b5b_qovery_logo_with_name_dark_2048.png'
    altText: Qovery 
servers:
  - url: 'https://api.qovery.com'
paths:
  /organization:
    $ref: './resources/Organizations.yaml'
  /organization/{organizationId}:
    $ref: './resources/Organization.yaml'
  /organization/{organizationId}/project:
    $ref: './resources/OrganizationProject.yaml'
  /organization/{organizationId}/project/stats:
    $ref: './resources/OrganizationProjectStats.yaml'
  /project/{projectId}:
    $ref: './resources/Project.yaml'
  /project/{projectId}/deploymentRule:
    $ref: './resources/ProjectDeploymentRule.yaml'
  /project/{projectId}/deploymentRule/{deploymentRuleId}:
    $ref: './resources/ProjectDeploymentRuleRef.yaml'
  /project/{projectId}/environment:
    $ref: './resources/ProjectEnvironment.yaml'
  /project/{projectId}/environmentVariable:
    $ref: './resources/ProjectEnvironmentVariable.yaml'
  /project/{projectId}/environmentVariable/{environmentVariableId}:
    $ref: './resources/ProjectEnvironmentVariableRef.yaml'
  /project/{projectId}/environmentVariable/{environmentVariableId}/override:
    $ref: './resources/ProjectEnvironmentVariableOverride.yaml'
  /project/{projectId}/environmentVariable/{environmentVariableId}/alias:
    $ref: './resources/ProjectEnvironmentVariableAlias.yaml'
  /project/{projectId}/secret:
    $ref: './resources/ProjectSecret.yaml'
  /project/{projectId}/secret/{secretId}:
    $ref: './resources/ProjectSecretRef.yaml'
  /project/{projectId}/secret/{secretId}/override:
    $ref: './resources/ProjectSecretOverride.yaml'
  /project/{projectId}/secret/{secretId}/alias:
    $ref: './resources/ProjectSecretAlias.yaml'
  /project/{projectId}/environment/status:
    $ref: './resources/ProjectEnvironmentStatus.yaml'
  /project/{projectId}/environment/service/number:
    $ref: './resources/ProjectEnvironmentServiceNumber.yaml'
  /environment/{environmentId}:
    $ref: './resources/Environment.yaml'
  /environment/{environmentId}/status:
    $ref: './resources/EnvironmentStatus.yaml'
  /environment/{environmentId}/deploymentRule:
    $ref: './resources/EnvironmentDeploymentRule.yaml'
  /environment/{environmentId}/deploymentRule/{deploymentRuleId}:
    $ref: './resources/EnvironmentDeploymentRuleRef.yaml'
  /environment/{environmentId}/service:
    $ref: './resources/EnvironmentService.yaml'
  /environment/{environmentId}/service/status:
    $ref: './resources/EnvironmentServiceStatus.yaml'
  /environment/{environmentId}/deploy:
    $ref: './resources/EnvironmentDeploy.yaml'
  /environment/{environmentId}/stop:
    $ref: './resources/EnvironmentStop.yaml'
  /environment/{environmentId}/restart:
    $ref: './resources/EnvironmentRestart.yaml'
  /environment/{environmentId}/abort:
    $ref: './resources/EnvironmentAbort.yaml'
  /environment/{environmentId}/clone:
    $ref: './resources/EnvironmentClone.yaml'
  /environment/{environmentId}/application:
    $ref: './resources/EnvironmentApplication.yaml'
  /environment/{environmentId}/application/status:
    $ref: './resources/EnvironmentApplicationStatus.yaml'
  /environment/{environmentId}/log:
    $ref: './resources/EnvironmentLog.yaml'
  /environment/{environmentId}/log?tail=:
    $ref: './resources/EnvironmentLogTail.yaml'
  /environment/{environmentId}/log?lastId=:
    $ref: './resources/EnvironmentLogLastId.yaml'
  /environment/{environmentId}/deploymentHistory:
    $ref: './resources/EnvironmentDeploymentHistory.yaml'
  /environment/{environmentId}/deploymentHistory?tail=:
    $ref: './resources/EnvironmentDeploymentHistoryTail.yaml'
  /environment/{environmentId}/deploymentHistory?lastId=:
    $ref: './resources/EnvironmentDeploymentHistoryLastId.yaml'
  /environment/{environmentId}/environmentVariable:
    $ref: './resources/EnvironmentEnvironmentVariable.yaml'
  /environment/{environmentId}/environmentVariable/{environmentVariableId}:
    $ref: './resources/EnvironmentEnvironmentVariableRef.yaml'
  /environment/{environmentId}/environmentVariable/{environmentVariableId}/override:
    $ref: './resources/EnvironmentEnvironmentVariableOverride.yaml'
  /environment/{environmentId}/environmentVariable/{environmentVariableId}/alias:
    $ref: './resources/EnvironmentEnvironmentVariableAlias.yaml'
  /environment/{environmentId}/secret:
    $ref: './resources/EnvironmentSecret.yaml'
  /environment/{environmentId}/secret/{secretId}:
    $ref: './resources/EnvironmentSecretRef.yaml'
  /environment/{environmentId}/secret/{secretId}/override:
    $ref: './resources/EnvironmentSecretOverride.yaml'
  /environment/{environmentId}/secret/{secretId}/alias:
    $ref: './resources/EnvironmentSecretAlias.yaml'
  /environment/{environmentId}/link:
    $ref: './resources/EnvironmentLink.yaml'    
  /application/{applicationId}:
    $ref: './resources/Application.yaml'
  /application/{applicationId}/status:
    $ref: './resources/ApplicationStatus.yaml'
  /application/{applicationId}/repository:
    $ref: './resources/ApplicationGitRepository.yaml'
  /application/{applicationId}/contributor:
    $ref: './resources/ApplicationContributor.yaml'
  /application/{applicationId}/tag:
    $ref: './resources/ApplicationTag.yaml'
  /application/{applicationId}/tag/{tagId}:
    $ref: './resources/ApplicationTagRef.yaml'
  /application/{applicationId}/Instance:
    $ref: './resources/ApplicationCurrentInstance.yaml'
  /application/{applicationId}/currentScale:
    $ref: './resources/ApplicationCurrentScale.yaml'
  /application/{applicationId}/metric/cpu:
    $ref: './resources/ApplicationMetricCpu.yaml'
  /application/{applicationId}/metric/memory:
    $ref: './resources/ApplicationMetricMemory.yaml'    
  /application/{applicationId}/metric/healthCheck:
    $ref: './resources/ApplicationMetricHealthCheck.yaml'  
  /application/{applicationId}/metric/storage:
    $ref: './resources/ApplicationMetricStorage.yaml'      
  /application/{applicationId}/dependency:
    $ref: './resources/ApplicationDependency.yaml'
  /application/{applicationId}/dependency/{targetApplicationId}:
    $ref: './resources/ApplicationDependencyRef.yaml'
  /application/{applicationId}/commit:
    $ref: './resources/ApplicationCommit.yaml'
  /application/{applicationId}/deploy:
    $ref: './resources/ApplicationDeploy.yaml'
  /application/{applicationId}/rollback:
    $ref: './resources/ApplicationRollbackCommit.yaml'
  /application/{applicationId}/stop:
    $ref: './resources/ApplicationStop.yaml'
  /application/{applicationId}/restart:
    $ref: './resources/ApplicationRestart.yaml'
  /application/{applicationId}/abort:
    $ref: './resources/ApplicationAbort.yaml'
  /application/{applicationId}/event:
    $ref: './resources/ApplicationEvent.yaml'
  /application/{applicationId}/event?tail=:
    $ref: './resources/ApplicationEventTail.yaml'
  /application/{applicationId}/event?lastId=:
    $ref: './resources/ApplicationEventLastId.yaml'
  /application/{applicationId}/environmentVariable:
    $ref: './resources/ApplicationEnvironmentVariable.yaml'
  /application/{applicationId}/environmentVariable/{environmentVariableId}:
    $ref: './resources/ApplicationEnvironmentVariableRef.yaml'
  /application/{applicationId}/environmentVariable/{environmentVariableId}/override:
    $ref: './resources/ApplicationEnvironmentVariableOverride.yaml'
  /application/{applicationId}/environmentVariable/{environmentVariableId}/alias:
    $ref: './resources/ApplicationEnvironmentVariableAlias.yaml'
  /application/{applicationId}/secret:
    $ref: './resources/ApplicationSecret.yaml'
  /application/{applicationId}/secret/{secretId}:
    $ref: './resources/ApplicationSecretRef.yaml'
  /application/{applicationId}/secret/{secretId}/override:
    $ref: './resources/ApplicationSecretOverride.yaml'
  /application/{applicationId}/secret/{secretId}/alias:
    $ref: './resources/ApplicationSecretAlias.yaml'
  /application/{applicationId}/customDomain:
    $ref: './resources/ApplicationCustomDomain.yaml'
  /application/{applicationId}/log:
    $ref: './resources/ApplicationLog.yaml'
  /application/{applicationId}/log?tail=:
    $ref: './resources/ApplicationLogTail.yaml'
  /application/{applicationId}/log?lastId=:
    $ref: './resources/ApplicationLogLastId.yaml'
  /application/{applicationId}/logicalDatabase:
    $ref: './resources/ApplicationLogicalDatabase.yaml'
  /application/{applicationId}/logicalDatabase/{targetLogicalDatabaseId}:
    $ref: './resources/ApplicationLogicalDatabaseRef.yaml'
  /application/{applicationId}/link:
    $ref: './resources/ApplicationLink.yaml'    
  /environment/{environmentId}/database:
    $ref: './resources/EnvironmentDatabase.yaml'
  /environment/{environmentId}/database/status:
    $ref: './resources/EnvironmentDatabaseStatus.yaml'
  /database/{databaseId}:
    $ref: './resources/Database.yaml'
  /database/{databaseId}/status:
    $ref: './resources/DatabaseStatus.yaml'
  /database/{databaseId}/masterCredentials:
    $ref: './resources/DatabaseMasterCredentials.yaml'
  /database/{databaseId}/logicalDatabase:
    $ref: './resources/DatabaseLogicalDatabase.yaml'
  /database/{databaseId}/application:
    $ref: './resources/DatabaseApplication.yaml'
  /database/{databaseId}/application/{targetApplicationId}:
    $ref: './resources/DatabaseApplicationRef.yaml'
  /database/{databaseId}/restart:
    $ref: './resources/DatabaseRestart.yaml'
  /database/{databaseId}/stop:
    $ref: './resources/DatabaseStop.yaml'
  /database/{databaseId}/deploy:
    $ref: './resources/DatabaseDeploy.yaml'
  /database/{databaseId}/currentMetric:
    $ref: './resources/DatabaseCurrentMetric.yaml'
  /database/{databaseId}/metric/cpu:
    $ref: './resources/DatabaseMetricCpu.yaml'
  /database/{databaseId}/metric/memory:
    $ref: './resources/DatabaseMetricMemory.yaml'
  /database/{databaseId}/metric/storage:
    $ref: './resources/DatabaseMetricStorage.yaml'
  /database/{databaseId}/metric/healthCheck:
    $ref: './resources/DatabaseMetricHealthCheck.yaml'
  /database/{databaseId}/backup:
    $ref: './resources/DatabaseBackup.yaml'
  /database/{databaseId}/backup/{backupId}:
    $ref: './resources/DatabaseBackupRef.yaml'
  /database/{databaseId}/event:
    $ref: './resources/DatabaseEvent.yaml'
  /database/{databaseId}/event?tail=:
    $ref: './resources/DatabaseEventTail.yaml'
  /database/{databaseId}/event?lastId=:
    $ref: './resources/DatabaseEventLastId.yaml'
  /logicalDatabase/{logicalDatabaseId}:
    $ref: './resources/LogicalDatabase.yaml'
  /logicalDatabase/{logicalDatabaseId}/credentials:
    $ref: './resources/LogicalDatabaseCredentials.yaml'
  /logicalDatabase/{logicalDatabaseId}/application:
    $ref: './resources/LogicalDatabaseApplication.yaml'
  /customDomain/{customDomainId}:
    $ref: './resources/CustomDomain.yaml'
  /instance/{instanceId}:
    $ref: './resources/Instance.yaml'
  /environmentVariable/{environmentVariableId}:
    $ref: './resources/EnvironmentVariable.yaml'
  /secret/{secretId}:
    $ref: './resources/Secret.yaml'
  /account/gitAuthProvider:
    $ref: './resources/GitAuthProvider.yaml'
  /account/github/repository:
    $ref: './resources/GitRepositoryGithub.yaml'
  /account/gitlab/repository:
    $ref: './resources/GitRepositoryGitlab.yaml'
components:
  parameters:
    $ref: './parameters/_index.yaml'
  schemas:
    $ref: './schemas/_index.yaml'
  responses:
    $ref: './responses/_index.yaml'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
security:
  - bearerAuth: [ ]
