openapi: 3.0.0
info:
  version: 1.0.3
  title: 'Qovery API'
  description: |
    - Qovery is the fastest way to deploy your full-stack apps on any Cloud provider.
    - ℹ️ The API is stable and still in development.
  contact:
    name: Qovery Product Team
    url: https://www.qovery.com
    email: support+api+documentation@qovery.com
  x-logo:
    url: 'https://raw.githubusercontent.com/Qovery/public-resources/master/qovery_new_logo_white.svg'
    altText: Qovery
tags:
  - name: Account
  - name: Account Info
  - name: Admin
  - name: Application
  - name: Application Actions
  - name: Application Configuration
  - name: Application Database
  - name: Application Deployment Restriction
  - name: Application Deployment History
  - name: Application Environment Variable
  - name: Application Event
  - name: Application Logs
  - name: Application Main Calls
  - name: Application Metrics
  - name: Application Secret
  - name: Applications
  - name: Container
  - name: Container Actions
  - name: Container Configuration
  - name: Container Database
  - name: Container Deployment History
  - name: Container Environment Variable
  - name: Container Logs
  - name: Container Main Calls
  - name: Container Metrics
  - name: Container Registry
  - name: Container Secret
  - name: Containers
  - name: Deployment Stage Main Calls
  - name: Job
  - name: Job Actions
  - name: Job Configuration
  - name: Job Database
  - name: Job Deployment Restriction
  - name: Job Deployment History
  - name: Job Environment Variable
  - name: Job Logs
  - name: Job Main Calls
  - name: Job Metrics
  - name: Job Registry
  - name: Job Secret
  - name: Jobs
  - name: Helm
  - name: Helm Actions
  - name: Helm Configuration
  - name: Helm Database
  - name: Helm Deployment Restriction
  - name: Helm Deployment History
  - name: Helm Environment Variable
  - name: Helm Logs
  - name: Helm Main Calls
  - name: Helm Metrics
  - name: Helm Registry
  - name: Helm Secret
  - name: Helms
  - name: Backups
  - name: Billing
  - name: Cloud Provider
  - name: Cloud Provider Credentials
  - name: Clusters
  - name: Custom Domain
  - name: Container Custom Domain
  - name: Database
  - name: Database Actions
  - name: Database Application
  - name: Database Container
  - name: Database Deployment History
  - name: Database Event
  - name: Database Main Calls
  - name: Database Metrics
  - name: Databases
  - name: Environment
  - name: Environment Actions
  - name: Environment Deployment History
  - name: Environment Deployment Rule
  - name: Environment Logs
  - name: Environment Main Calls
  - name: Environment Secret
  - name: Environment Variable
  - name: Environments
  - name: Git
  - name: Github App
  - name: Git repositories
  - name: Members
  - name: Organization
  - name: Organization Account Git Repositories
  - name: Organization Main Calls
  - name: Organization Custom Role
  - name: Organization Api Token
  - name: Organization Webhook
  - name: Organization Event
  - name: Project
  - name: Project Deployment Rule
  - name: Project Environment Variable
  - name: Project Main Calls
  - name: Project Secret
  - name: Projects
  - name: Referral & Rewards
  - name: Container Registries
  - name: User Sign Up
  - name: Variable Main Calls
x-tagGroups:
  - name: Organization
    tags:
      - Organization Main Calls
      - Organization Api Token
      - Organization Account Git Repositories
      - Organization Webhook
      - Organization Custom Role
      - Organization Event
      - Projects
      - Members
      - Billing
      - Clusters
      - Cloud Provider
      - Cloud Provider Credentials
      - Github App
      - Container Registries
  - name: Project
    tags:
      - Project Main Calls
      - Environments
      - Project Deployment Rule
      - Project Environment Variable
      - Project Secret
  - name: Environment
    tags:
      - Environment Main Calls
      - Applications
      - Containers
      - Databases
      - Jobs
      - Helms
      - Environment Actions
      - Environment Logs
      - Environment Deployment History
      - Environment Deployment Rule
      - Environment Variable
      - Environment Secret
      - Environment Export
  - name: Deployment Stage
    tags:
      - Deployment Stage Main Calls
  - name: Application
    tags:
      - Application Main Calls
      - Application Actions
      - Application Configuration
      - Custom Domain
      - Application Metrics
      - Application Database
      - Application Logs
      - Application Deployment Restriction
      - Application Deployment History
      - Application Environment Variable
      - Application Secret
      - Application Event
  - name: Container
    tags:
      - Container Main Calls
      - Container Actions
      - Container Configuration
      - Container Custom Domain
      - Container Metrics
      - Container Database
      - Container Logs
      - Container Deployment History
      - Container Environment Variable
      - Container Secret
  - name: Database
    tags:
      - Database Main Calls
      - Database Actions
      - Database Metrics
      - Database Applications
      - Database Deployment History
      - Database Containers
      - Database Application
      - Database Container
      - Backups
      - Database Event
  - name: Job
    tags:
      - Job Main Calls
      - Job Actions
      - Job Configuration
      - Job Custom Domain
      - Job Deployment Restriction
      - Job Metrics
      - Job Deployment History
      - Job Environment Variable
      - Job Secret
  - name: Helm
    tags:
      - Helm Main Calls
      - Helm Actions
      - Helm Configuration
      - Helm Custom Domain
      - Helm Deployment Restriction
      - Helm Metrics
      - Helm Deployment History
      - Helm Environment Variable
      - Helm Secret
  - name: Account
    tags:
      - Account Info
      - Git repositories
      - Referral & Rewards
  - name: Git
    tags:
      - Git repositories
  - name: Variable
    tags:
      - Variable Main Calls
  - name: Admin
    tags:
      - User Sign Up
servers:
  - url: 'https://api.qovery.com'
paths:
  /organization:
    $ref: './resources/Organizations.yaml'
  /organization/{organizationId}:
    $ref: './resources/Organization.yaml'
  /organization/{organizationId}/apiToken:
    $ref: './resources/OrganizationApiToken.yaml'
  /organization/{organizationId}/apiToken/{apiTokenId}:
    $ref: './resources/OrganizationApiTokenRef.yaml'
  /organization/{organizationId}/availableRole:
    $ref: './resources/OrganizationAvailableRole.yaml'
  /organization/{organizationId}/gitToken:
    $ref: './resources/GitToken.yaml'
  /organization/{organizationId}/gitToken/{gitTokenId}:
    $ref: './resources/GitTokenRef.yaml'
  /organization/{organizationId}/gitToken/{gitTokenId}/associatedServices:
    $ref: './resources/GitTokenAssociatedServices.yaml'
  /organization/{organizationId}/member:
    $ref: './resources/OrganizationMember.yaml'
  /organization/{organizationId}/inviteMember:
    $ref: './resources/OrganizationInviteMember.yaml'
  /organization/{organizationId}/inviteMember/{inviteId}:
    $ref: './resources/OrganizationInviteMemberRef.yaml'
  /organization/{organizationId}/transferOwnership:
    $ref: './resources/OrganizationTransferOwnership.yaml'
  /organization/{organizationId}/currentCost:
    $ref: './resources/OrganizationCurrentCost.yaml'
  /organization/{organizationId}/creditCode:
    $ref: './resources/OrganizationCreditCode.yaml'
  /organization/{organizationId}/changePlan:
    $ref: './resources/OrganizationChangePlan.yaml'
  /organization/{organizationId}/cluster/{clusterId}/currentCost:
    $ref: './resources/OrganizationClusterCurrentCost.yaml'
  /organization/{organizationId}/billingInfo:
    $ref: './resources/OrganizationBillingInfo.yaml'
  /organization/{organizationId}/billingStatus:
    $ref: './resources/OrganizationBillingStatus.yaml'
  /organization/{organizationId}/invoice:
    $ref: './resources/OrganizationInvoiceList.yaml'
  /organization/{organizationId}/invoice/{invoiceId}:
    $ref: './resources/OrganizationInvoiceDetail.yaml'
  /organization/{organizationId}/invoice/{invoiceId}/download:
    $ref: './resources/OrganizationInvoiceDownload.yaml'
  /organization/{organizationId}/downloadInvoices:
    $ref: './resources/OrganizationInvoiceDownloadAll.yaml'
  /organization/{organizationId}/creditCard:
    $ref: './resources/OrganizationCreditCard.yaml'
  /organization/{organizationId}/creditCard/{creditCardId}:
    $ref: './resources/OrganizationCreditCardRef.yaml'
  /organization/{organizationId}/project:
    $ref: './resources/OrganizationProject.yaml'
  /organization/{organizationId}/project/stats:
    $ref: './resources/OrganizationProjectStats.yaml'
  /organization/{organizationId}/cluster:
    $ref: './resources/OrganizationCluster.yaml'
  /organization/{organizationId}/cluster/status:
    $ref: './resources/OrganizationClusterStatusList.yaml'
  /organization/{organizationId}/cluster/{clusterId}:
    $ref: './resources/OrganizationClusterRef.yaml'
  /organization/{organizationId}/cluster/{clusterId}/status:
    $ref: './resources/OrganizationClusterStatus.yaml'
  /organization/{organizationId}/cluster/{clusterId}/advancedSettings:
    $ref: './resources/OrganizationClusterAdvancedSettings.yaml'
  /organization/{organizationId}/cluster/{clusterId}/routingTable:
    $ref: './resources/OrganizationClusterRoutingTable.yaml'
  /organization/{organizationId}/cluster/{clusterId}/logs:
    $ref: './resources/OrganizationClusterLogs.yaml'
  /organization/{organizationId}/aws/credentials:
    $ref: './resources/CloudProviderAWSCredentials.yaml'
  /organization/{organizationId}/aws/credentials/{credentialsId}:
    $ref: './resources/CloudProviderAWSCredentialsRef.yaml'
  /organization/{organizationId}/digitalOcean/credentials:
    $ref: './resources/CloudProviderDOCredentials.yaml'
  /organization/{organizationId}/digitalOcean/credentials/{credentialsId}:
    $ref: './resources/CloudProviderDOCredentialsRef.yaml'
  /organization/{organizationId}/scaleway/credentials:
    $ref: './resources/CloudProviderScalewayCredentials.yaml'
  /organization/{organizationId}/scaleway/credentials/{credentialsId}:
    $ref: './resources/CloudProviderScalewayCredentialsRef.yaml'
  /organization/{organizationId}/github/connect:
    $ref: './resources/OrganizationGithubAppConnect.yaml'
  /organization/{organizationId}/github/disconnect:
    $ref: './resources/OrganizationGithubAppDisconnect.yaml'
  /organization/{organizationId}/account/gitAuthProvider:
    $ref: './resources/OrganizationAccountGitAuthProvider.yaml'
  /organization/{organizationId}/account/gitAuthProviderTemp:
    $ref: './resources/OrganizationAccountGitAuthProviderTemp.yaml'
  /organization/{organizationId}/account/github/repository:
    $ref: './resources/OrganizationAccountGitRepositoryGithub.yaml'
  /organization/{organizationId}/account/github/repositoryTemp:
    $ref: './resources/OrganizationAccountGitRepositoryGithubTemp.yaml'
  /organization/{organizationId}/account/github/repository/branch:
    $ref: './resources/OrganizationAccountGitRepositoryGithubBranch.yaml'
  /organization/{organizationId}/account/gitlab/repository:
    $ref: './resources/OrganizationAccountGitRepositoryGitlab.yaml'
  /organization/{organizationId}/account/gitlab/repositoryTemp:
    $ref: './resources/OrganizationAccountGitRepositoryGitlabTemp.yaml'
  /organization/{organizationId}/account/gitlab/repository/branch:
    $ref: './resources/OrganizationAccountGitRepositoryGitlabBranch.yaml'
  /organization/{organizationId}/account/bitbucket/repository:
    $ref: './resources/OrganizationAccountGitRepositoryBitbucket.yaml'
  /organization/{organizationId}/account/bitbucket/repositoryTemp:
    $ref: './resources/OrganizationAccountGitRepositoryBitbucketTemp.yaml'
  /organization/{organizationId}/account/bitbucket/repository/branch:
    $ref: './resources/OrganizationAccountGitRepositoryBitbucketBranch.yaml'
  /organization/{organizationId}/webhook:
    $ref: './resources/OrganizationWebhook.yaml'
  /organization/{organizationId}/webhook/{webhookId}:
    $ref: './resources/OrganizationWebhookRef.yaml'
  /organization/{organizationId}/customRole:
    $ref: './resources/OrganizationCustomRole.yaml'
  /organization/{organizationId}/customRole/{customRoleId}:
    $ref: './resources/OrganizationCustomRoleRef.yaml'
  /organization/{organizationId}/events:
    $ref: './resources/OrganizationEvent.yaml'
  /organization/{organizationId}/targets:
    $ref: './resources/OrganizationEventTarget.yaml'
  /cloudProvider:
    $ref: './resources/CloudProvider.yaml'
  /aws/region:
    $ref: './resources/CloudProviderAWSRegion.yaml'
  /aws/clusterFeature:
    $ref: './resources/CloudProviderAWSClusterFeature.yaml'
  /aws/instanceType:
    $ref: './resources/CloudProviderAWSInstanceType.yaml'
  /aws/managedDatabase/type:
    $ref: './resources/CloudProviderAWSManagedDatabaseType.yaml'
  /aws/managedDatabase/instanceType/{region}/{databaseType}:
    $ref: './resources/CloudProviderAWSManagedDatabaseInstanceType.yaml'
  /aws/ec2/instanceType/{region}:
    $ref: './resources/CloudProviderAWSEc2InstanceType.yaml'
  /aws/eks/instanceType/{region}:
    $ref: './resources/CloudProviderAWSEKSInstanceType.yaml'
  /digitalOcean/region:
    $ref: './resources/CloudProviderDORegion.yaml'
  /digitalOcean/clusterFeature:
    $ref: './resources/CloudProviderDOClusterFeature.yaml'
  /digitalOcean/instanceType:
    $ref: './resources/CloudProviderDOInstanceType.yaml'
  /digitalOcean/managedDatabase/type:
    $ref: './resources/CloudProviderDOManagedDatabaseType.yaml'
  /digitalOcean/managedDatabase/instanceType/{region}/{databaseType}:
    $ref: './resources/CloudProviderDOManagedDatabaseInstanceType.yaml'
  /scaleway/region:
    $ref: './resources/CloudProviderScalewayRegion.yaml'
  /scaleway/clusterFeature:
    $ref: './resources/CloudProviderScalewayClusterFeature.yaml'
  /scaleway/instanceType:
    $ref: './resources/CloudProviderScalewayInstanceType.yaml'
  /scaleway/managedDatabase/type:
    $ref: './resources/CloudProviderSCWManagedDatabaseType.yaml'
  /scaleway/managedDatabase/instanceType/{zone}/{databaseType}:
    $ref: './resources/CloudProviderSCWManagedDatabaseInstanceType.yaml'
  /scaleway/instanceType/{zone}:
    $ref: './resources/CloudProviderScalewayKapsuleInstanceType.yaml'
  /organization/{organizationId}/cluster/{clusterId}/cloudProviderInfo:
    $ref: './resources/OrganizationClusterCloudProviderInfo.yaml'
  /organization/{organizationId}/cluster/{clusterId}/isReady:
    $ref: './resources/OrganizationClusterIsReady.yaml'
  /organization/{organizationId}/cluster/{clusterId}/deploy:
    $ref: './resources/OrganizationClusterDeploy.yaml'
  /organization/{organizationId}/cluster/{clusterId}/stop:
    $ref: './resources/OrganizationClusterStop.yaml'
  /organization/{organizationId}/containerRegistry:
    $ref: './resources/OrganizationContainerRegistry.yaml'
  /organization/{organizationId}/containerRegistry/{containerRegistryId}:
    $ref: './resources/OrganizationContainerRegistryRef.yaml'
  /organization/{organizationId}/containerRegistry/{containerRegistryId}/container/status:
    $ref: './resources/ContainerRegistryContainerStatus.yaml'
  /availableContainerRegistry:
    $ref: './resources/AvailableContainerRegistry.yaml'
  /project/{projectId}:
    $ref: './resources/Project.yaml'
  /project/{projectId}/deploymentRule:
    $ref: './resources/ProjectDeploymentRule.yaml'
  /project/{projectId}/deploymentRule/{deploymentRuleId}:
    $ref: './resources/ProjectDeploymentRuleRef.yaml'
  /project/{projectId}/deploymentRule/order:
    $ref: './resources/ProjectDeploymentRulesPriorityOrder.yaml'
  /project/{projectId}/environment:
    $ref: './resources/ProjectEnvironment.yaml'
  /project/{projectId}/environmentVariable:
    $ref: './resources/ProjectEnvironmentVariable.yaml'
  /project/{projectId}/environmentVariable/{environmentVariableId}:
    $ref: './resources/ProjectEnvironmentVariableRef.yaml'
  /project/{projectId}/environmentVariable/{environmentVariableId}/override:
    $ref: './resources/ProjectEnvironmentVariableOverride.yaml'
  /project/{projectId}/environmentVariable/{environmentVariableId}/alias:
    $ref: './resources/ProjectEnvironmentVariableAlias.yaml'
  /project/{projectId}/secret:
    $ref: './resources/ProjectSecret.yaml'
  /project/{projectId}/secret/{secretId}:
    $ref: './resources/ProjectSecretRef.yaml'
  /project/{projectId}/secret/{secretId}/override:
    $ref: './resources/ProjectSecretOverride.yaml'
  /project/{projectId}/secret/{secretId}/alias:
    $ref: './resources/ProjectSecretAlias.yaml'
  /project/{projectId}/environment/status:
    $ref: './resources/ProjectEnvironmentStatus.yaml'
  /project/{projectId}/environment/stats:
    $ref: './resources/ProjectEnvironmentStats.yaml'
  /environment/{environmentId}:
    $ref: './resources/Environment.yaml'
  /environment/{environmentId}/status:
    $ref: './resources/EnvironmentStatus.yaml'
  /environment/{environmentId}/statuses:
    $ref: './resources/EnvironmentStatuses.yaml'
  /environment/{environmentId}/statusesWithStages:
    $ref: './resources/EnvironmentStatusesWithStages.yaml'
  /environment/{environmentId}/deploymentStage:
    $ref: './resources/deploymentStage/EnvironmentDeploymentStage.yaml'
  /deploymentStage/{deploymentStageId}:
    $ref: './resources/deploymentStage/DeploymentStage.yaml'
  /deploymentStage/{deploymentStageId}/service/{serviceId}:
    $ref: './resources/deploymentStage/DeploymentStageService.yaml'
  /deploymentStage/{deploymentStageId}/moveBefore/{stageId}:
    $ref: './resources/deploymentStage/DeploymentStageMoveBefore.yaml'
  /deploymentStage/{deploymentStageId}/moveAfter/{stageId}:
    $ref: './resources/deploymentStage/DeploymentStageMoveAfter.yaml'
  /environment/{environmentId}/deploymentRule:
    $ref: './resources/EnvironmentDeploymentRule.yaml'
  /environment/{environmentId}/deploymentRule/{deploymentRuleId}:
    $ref: './resources/EnvironmentDeploymentRuleRef.yaml'
  /environment/{environmentId}/deploy:
    $ref: './resources/EnvironmentDeploy.yaml'
  /environment/{environmentId}/stop:
    $ref: './resources/EnvironmentStop.yaml'
  /environment/{environmentId}/restart:
    $ref: './resources/EnvironmentRestart.yaml'
  /environment/{environmentId}/redeploy:
    $ref: './resources/EnvironmentRedeploy.yaml'
  /environment/{environmentId}/cancelDeployment:
    $ref: './resources/EnvironmentCancelDeployment.yaml'
  /environment/{environmentId}/clone:
    $ref: './resources/EnvironmentClone.yaml'
  /environment/{environmentId}/application:
    $ref: './resources/EnvironmentApplication.yaml'
  /environment/{environmentId}/application/status:
    $ref: './resources/EnvironmentApplicationStatus.yaml'
  /environment/{environmentId}/application/currentStorage:
    $ref: './resources/EnvironmentApplicationsCurrentStorage.yaml'
  /environment/{environmentId}/application/currentScale:
    $ref: './resources/EnvironmentApplicationCurrentScale.yaml'
  /environment/{environmentId}/application/supportedLanguage:
    $ref: './resources/EnvironmentApplicationSupportedLanguage.yaml'
  /environment/{environmentId}/application/deploy:
    $ref: './resources/EnvironmentApplicationDeploy.yaml'
  /environment/{environmentId}/container:
    $ref: './resources/EnvironmentContainer.yaml'
  /environment/{environmentId}/container/status:
    $ref: './resources/EnvironmentContainerStatus.yaml'
  /environment/{environmentId}/container/currentStorage:
    $ref: './resources/EnvironmentContainersCurrentStorage.yaml'
  /environment/{environmentId}/container/currentScale:
    $ref: './resources/EnvironmentContainerCurrentScale.yaml'
  /environment/{environmentId}/service/deploy:
    $ref: './resources/EnvironmentServiceDeploy.yaml'
  /environment/{environmentId}/service/restart-service:
    $ref: './resources/EnvironmentServiceReboot.yaml'
  /environment/{environmentId}/service/stop:
    $ref: './resources/EnvironmentServiceStop.yaml'
  /environment/{environmentId}/service/delete:
    $ref: './resources/EnvironmentServiceDelete.yaml'
  /organization/{organizationId}/container/deploy:
    $ref: './resources/OrganizationContainerAutoDeploy.yaml'
  /organization/{organizationId}/container/preview:
    $ref: './resources/OrganizationContainerPreview.yaml'
  /organization/{organizationId}/job/deploy:
    $ref: './resources/OrganizationJobAutoDeploy.yaml'
  /environment/{environmentId}/log:
    $ref: './resources/EnvironmentLog.yaml'
  /environment/{environmentId}/logs:
    $ref: './resources/EnvironmentLogs.yaml'
  /environment/{environmentId}/deploymentHistory:
    $ref: './resources/EnvironmentDeploymentHistory.yaml'
  /environment/{environmentId}/environmentVariable:
    $ref: './resources/EnvironmentEnvironmentVariable.yaml'
  /environment/{environmentId}/environmentVariable/{environmentVariableId}:
    $ref: './resources/EnvironmentEnvironmentVariableRef.yaml'
  /environment/{environmentId}/environmentVariable/{environmentVariableId}/override:
    $ref: './resources/EnvironmentEnvironmentVariableOverride.yaml'
  /environment/{environmentId}/environmentVariable/{environmentVariableId}/alias:
    $ref: './resources/EnvironmentEnvironmentVariableAlias.yaml'
  /environment/{environmentId}/secret:
    $ref: './resources/EnvironmentSecret.yaml'
  /environment/{environmentId}/secret/{secretId}:
    $ref: './resources/EnvironmentSecretRef.yaml'
  /environment/{environmentId}/secret/{secretId}/override:
    $ref: './resources/EnvironmentSecretOverride.yaml'
  /environment/{environmentId}/secret/{secretId}/alias:
    $ref: './resources/EnvironmentSecretAlias.yaml'
  /environment/{environmentId}/databaseConfiguration:
    $ref: './resources/EnvironmentDatabaseConfiguration.yaml'
  /environment/{environmentId}/terraformExport:
    $ref: './resources/EnvironmentTerraformExport.yaml'
  /defaultApplicationAdvancedSettings:
    $ref: './resources/DefaultApplicationAdvancedSettings.yaml'
  /defaultClusterAdvancedSettings:
    $ref: './resources/DefaultClusterAdvancedSettings.yaml'
  /defaultContainerAdvancedSettings:
    $ref: './resources/DefaultContainerAdvancedSettings.yaml'
  /defaultJobAdvancedSettings:
    $ref: './resources/DefaultJobAdvancedSettings.yaml'
  /defaultHelmAdvancedSettings:
    $ref: './resources/DefaultHelmAdvancedSettings.yaml'
  /application/{applicationId}:
    $ref: './resources/Application.yaml'
  /application/{applicationId}/status:
    $ref: './resources/ApplicationStatus.yaml'
  /application/{applicationId}/deploymentRestriction:
    $ref: './resources/ApplicationDeploymentRestriction.yaml'
  /application/{applicationId}/deploymentRestriction/{deploymentRestrictionId}:
    $ref: './resources/ApplicationDeploymentRestrictionRef.yaml'
  /application/{applicationId}/contributor:
    $ref: './resources/ApplicationContributor.yaml'
  /application/{applicationId}/instance:
    $ref: './resources/ApplicationCurrentInstance.yaml'
  /application/{applicationId}/currentStorage:
    $ref: './resources/ApplicationCurrentStorageDisk.yaml'
  /application/{applicationId}/currentScale:
    $ref: './resources/ApplicationCurrentScale.yaml'
  /application/{applicationId}/metric/cpu:
    $ref: './resources/ApplicationMetricCpu.yaml'
  /application/{applicationId}/metric/memory:
    $ref: './resources/ApplicationMetricMemory.yaml'
  /application/{applicationId}/metric/healthCheck:
    $ref: './resources/ApplicationMetricHealthCheck.yaml'
  /application/{applicationId}/metric/storage:
    $ref: './resources/ApplicationMetricStorage.yaml'
  /application/{applicationId}/commit:
    $ref: './resources/ApplicationCommit.yaml'
  /application/{applicationId}/deploy:
    $ref: './resources/ApplicationDeploy.yaml'
  /application/{applicationId}/stop:
    $ref: './resources/ApplicationStop.yaml'
  /application/{applicationId}/restart:
    $ref: './resources/ApplicationRestart.yaml'
  /application/{applicationId}/redeploy:
    $ref: './resources/ApplicationRedeploy.yaml'
  /application/{applicationId}/restart-service:
    $ref: './resources/ApplicationReboot.yaml'
  /application/{applicationId}/deploymentHistory:
    $ref: './resources/ApplicationDeploymentHistory.yaml'
  /application/{applicationId}/environmentVariable:
    $ref: './resources/ApplicationEnvironmentVariable.yaml'
  /application/{applicationId}/environmentVariable/import:
    $ref: './resources/VariableImport.yaml'
  /application/{applicationId}/environmentVariable/{environmentVariableId}:
    $ref: './resources/ApplicationEnvironmentVariableRef.yaml'
  /application/{applicationId}/environmentVariable/{environmentVariableId}/override:
    $ref: './resources/ApplicationEnvironmentVariableOverride.yaml'
  /application/{applicationId}/environmentVariable/{environmentVariableId}/alias:
    $ref: './resources/ApplicationEnvironmentVariableAlias.yaml'
  /application/{applicationId}/secret:
    $ref: './resources/ApplicationSecret.yaml'
  /application/{applicationId}/secret/{secretId}:
    $ref: './resources/ApplicationSecretRef.yaml'
  /application/{applicationId}/secret/{secretId}/override:
    $ref: './resources/ApplicationSecretOverride.yaml'
  /application/{applicationId}/secret/{secretId}/alias:
    $ref: './resources/ApplicationSecretAlias.yaml'
  /application/{applicationId}/customDomain:
    $ref: './resources/ApplicationCustomDomain.yaml'
  /application/{applicationId}/customDomain/{customDomainId}:
    $ref: './resources/ApplicationCustomDomainRef.yaml'
  /application/{applicationId}/customDomain/{customDomainId}/status:
    $ref: './resources/ApplicationCustomDomainStatus.yaml'
  /application/{applicationId}/log:
    $ref: './resources/ApplicationLog.yaml'
  /application/{applicationId}/network:
    $ref: './resources/ApplicationNetwork.yaml'
  /application/{applicationId}/link:
    $ref: './resources/ApplicationLink.yaml'
  /application/{applicationId}/advancedSettings:
    $ref: './resources/ApplicationAdvancedSettings.yaml'
  /application/{applicationId}/clone:
    $ref: './resources/ApplicationClone.yaml'
  /container/{containerId}:
    $ref: './resources/Container.yaml'
  /container/{containerId}/status:
    $ref: './resources/ContainerStatus.yaml'
  /container/{containerId}/deploymentHistory:
    $ref: './resources/ContainerDeploymentHistory.yaml'
  /container/{containerId}/advancedSettings:
    $ref: './resources/ContainerAdvancedSettings.yaml'
  /container/{containerId}/instance:
    $ref: './resources/ContainerCurrentInstance.yaml'
  /container/{containerId}/currentStorage:
    $ref: './resources/ContainerCurrentStorageDisk.yaml'
  /container/{containerId}/currentScale:
    $ref: './resources/ContainerCurrentScale.yaml'
  /container/{containerId}/deploy:
    $ref: './resources/ContainerDeploy.yaml'
  /container/{containerId}/stop:
    $ref: './resources/ContainerStop.yaml'
  /container/{containerId}/restart:
    $ref: './resources/ContainerRestart.yaml'
  /container/{containerId}/redeploy:
    $ref: './resources/ContainerRedeploy.yaml'
  /container/{containerId}/restart-service:
    $ref: './resources/ContainerReboot.yaml'
  /container/{containerId}/environmentVariable:
    $ref: './resources/ContainerEnvironmentVariable.yaml'
  /container/{containerId}/environmentVariable/import:
    $ref: './resources/ContainerVariableImport.yaml'
  /container/{containerId}/environmentVariable/{environmentVariableId}:
    $ref: './resources/ContainerEnvironmentVariableRef.yaml'
  /container/{containerId}/environmentVariable/{environmentVariableId}/override:
    $ref: './resources/ContainerEnvironmentVariableOverride.yaml'
  /container/{containerId}/environmentVariable/{environmentVariableId}/alias:
    $ref: './resources/ContainerEnvironmentVariableAlias.yaml'
  /container/{containerId}/secret:
    $ref: './resources/ContainerSecret.yaml'
  /container/{containerId}/secret/{secretId}:
    $ref: './resources/ContainerSecretRef.yaml'
  /container/{containerId}/secret/{secretId}/override:
    $ref: './resources/ContainerSecretOverride.yaml'
  /container/{containerId}/secret/{secretId}/alias:
    $ref: './resources/ContainerSecretAlias.yaml'
  /container/{containerId}/customDomain:
    $ref: './resources/ContainerCustomDomain.yaml'
  /container/{containerId}/customDomain/{customDomainId}:
    $ref: './resources/ContainerCustomDomainRef.yaml'
  /container/{containerId}/customDomain/{customDomainId}/status:
    $ref: './resources/ContainerCustomDomainStatus.yaml'
  /container/{containerId}/log:
    $ref: './resources/ContainerLog.yaml'
  /container/{containerId}/network:
    $ref: './resources/ContainerNetwork.yaml'
  /container/{containerId}/link:
    $ref: './resources/ContainerLink.yaml'
  /container/{containerId}/clone:
      $ref: './resources/ContainerClone.yaml'
  /environment/{environmentId}/database:
    $ref: './resources/EnvironmentDatabase.yaml'
  /environment/{environmentId}/database/status:
    $ref: './resources/EnvironmentDatabaseStatus.yaml'
  /environment/{environmentId}/database/currentMetric:
    $ref: './resources/EnvironmentDatabasesCurrentMetric.yaml'
  /database/{databaseId}:
    $ref: './resources/Database.yaml'
  /database/{databaseId}/status:
    $ref: './resources/DatabaseStatus.yaml'
  /database/{databaseId}/version:
    $ref: './resources/DatabaseVersion.yaml'
  /database/{databaseId}/masterCredentials:
    $ref: './resources/DatabaseMasterCredentials.yaml'
  /database/{databaseId}/application:
    $ref: './resources/DatabaseApplication.yaml'
  /database/{databaseId}/application/{targetApplicationId}:
    $ref: './resources/DatabaseApplicationRef.yaml'
  /database/{databaseId}/restart:
    $ref: './resources/DatabaseRestart.yaml'
  /database/{databaseId}/redeploy:
    $ref: './resources/DatabaseRedeploy.yaml'
  /database/{databaseId}/restart-service:
    $ref: './resources/DatabaseReboot.yaml'
  /database/{databaseId}/stop:
    $ref: './resources/DatabaseStop.yaml'
  /database/{databaseId}/deploy:
    $ref: './resources/DatabaseDeploy.yaml'
  /database/{databaseId}/deploymentHistory:
    $ref: './resources/DatabaseDeploymentHistory.yaml'
  /database/{databaseId}/currentMetric:
    $ref: './resources/DatabaseCurrentMetric.yaml'
  /database/{databaseId}/metric/cpu:
    $ref: './resources/DatabaseMetricCpu.yaml'
  /database/{databaseId}/metric/memory:
    $ref: './resources/DatabaseMetricMemory.yaml'
  /database/{databaseId}/metric/storage:
    $ref: './resources/DatabaseMetricStorage.yaml'
  /database/{databaseId}/metric/healthCheck:
    $ref: './resources/DatabaseMetricHealthCheck.yaml'
  /database/{databaseId}/backup:
    $ref: './resources/DatabaseBackup.yaml'
  /database/{databaseId}/backup/{backupId}:
    $ref: './resources/DatabaseBackupRef.yaml'
  /database/{databaseId}/clone:
    $ref: './resources/DatabaseClone.yaml'
  /account:
    $ref: './resources/AccountInformation.yaml'
  /account/gitAuthProvider:
    $ref: './resources/AccountGitAuthProvider.yaml'
  /account/github/repository:
    $ref: './resources/AccountGitRepositoryGithub.yaml'
  /account/github/repository/branch:
    $ref: './resources/AccountGitRepositoryGithubBranch.yaml'
  /account/gitlab/repository:
    $ref: './resources/AccountGitRepositoryGitlab.yaml'
  /account/gitlab/repository/branch:
    $ref: './resources/AccountGitRepositoryGitlabBranch.yaml'
  /account/bitbucket/repository:
    $ref: './resources/AccountGitRepositoryBitbucket.yaml'
  /account/bitbucket/repository/branch:
    $ref: './resources/AccountGitRepositoryBitbucketBranch.yaml'
  /account/referral:
    $ref: './resources/AccountReferral.yaml'
  /account/rewardClaim:
    $ref: './resources/AccountRewardClaim.yaml'
  /admin/userSignUp:
    $ref: './resources/UserSignUp.yaml'
  /environment/{environmentId}/helm:
    $ref: './resources/helm/EnvironmentHelm.yaml'
  /environment/{environmentId}/helm/status:
    $ref: './resources/helm/EnvironmentHelmStatus.yaml'
  /helm/{helmId}:
    $ref: './resources/helm/Helm.yaml'
  /helm/{helmId}/advancedSettings:
    $ref: './resources/helm/HelmAdvancedSettings.yaml'
  /helm/{helmId}/deploy:
    $ref: './resources/helm/HelmDeploy.yaml'
  /helm/{helmId}/restart:
    $ref: './resources/helm/HelmRestart.yaml'
  /helm/{helmId}/redeploy:
    $ref: './resources/helm/HelmRedeploy.yaml'
  /helm/{helmId}/stop:
    $ref: './resources/helm/HelmStop.yaml'
  /helm/{helmId}/status:
    $ref: './resources/helm/HelmStatus.yaml'
  /helm/{helmId}/deploymentHistory:
    $ref: './resources/helm/HelmDeploymentHistory.yaml'
  /helm/{helmId}/deploymentRestriction:
    $ref: './resources/helm/HelmDeploymentRestriction.yaml'
  /helm/{helmId}/deploymentRestriction/{deploymentRestrictionId}:
    $ref: './resources/helm/HelmDeploymentRestrictionRef.yaml'
  /environment/{environmentId}/job:
    $ref: './resources/job/EnvironmentJob.yaml'
  /environment/{environmentId}/job/status:
    $ref: './resources/job/EnvironmentJobStatus.yaml'
  /job/{jobId}:
    $ref: './resources/job/Job.yaml'
  /job/{jobId}/advancedSettings:
    $ref: './resources/job/JobAdvancedSettings.yaml'
  /job/{jobId}/deploy:
    $ref: './resources/job/JobDeploy.yaml'
  /job/{jobId}/restart:
    $ref: './resources/job/JobRestart.yaml'
  /job/{jobId}/redeploy:
    $ref: './resources/job/JobRedeploy.yaml'
  /job/{jobId}/stop:
    $ref: './resources/job/JobStop.yaml'
  /job/{jobId}/status:
    $ref: './resources/job/JobStatus.yaml'
  /job/{jobId}/deploymentHistory:
    $ref: './resources/job/JobDeploymentHistory.yaml'
  /job/{jobId}/deploymentRestriction:
    $ref: './resources/job/JobDeploymentRestriction.yaml'
  /job/{jobId}/deploymentRestriction/{deploymentRestrictionId}:
    $ref: './resources/job/JobDeploymentRestrictionRef.yaml'
  /job/{jobId}/instance:
    $ref: './resources/job/JobCurrentInstance.yaml'
  /job/{jobId}/environmentVariable:
    $ref: './resources/job/JobEnvironmentVariable.yaml'
  /job/{jobId}/environmentVariable/import:
    $ref: './resources/job/JobVariableImport.yaml'
  /job/{jobId}/environmentVariable/{environmentVariableId}:
    $ref: './resources/job/JobEnvironmentVariableRef.yaml'
  /job/{jobId}/environmentVariable/{environmentVariableId}/override:
    $ref: './resources/job/JobEnvironmentVariableOverride.yaml'
  /job/{jobId}/environmentVariable/{environmentVariableId}/alias:
    $ref: './resources/job/JobEnvironmentVariableAlias.yaml'
  /job/{jobId}/secret:
    $ref: './resources/job/JobSecret.yaml'
  /job/{jobId}/secret/{secretId}:
    $ref: './resources/job/JobSecretRef.yaml'
  /job/{jobId}/secret/{secretId}/override:
    $ref: './resources/job/JobSecretOverride.yaml'
  /job/{jobId}/secret/{secretId}/alias:
    $ref: './resources/job/JobSecretAlias.yaml'
  /job/{jobId}/commit:
    $ref: './resources/JobCommit.yaml'
  /job/{jobId}/clone:
      $ref: './resources/JobClone.yaml'
  /service/{serviceId}/deploymentStage:
    $ref: './resources/deploymentStage/ServiceDeploymentStage.yaml'
  /variable:
    $ref: './resources/variable/Variable.yaml'
  /variable/{variableId}/alias:
    $ref: './resources/variable/VariableAlias.yaml'
  /variable/{variableId}/override:
    $ref: './resources/variable/VariableOverride.yaml'
  /variable/{variableId}:
    $ref: './resources/variable/VariableRef.yaml'
components:
  parameters:
    $ref: './parameters/_index.yaml'
  schemas:
    $ref: './schemas/_index.yaml'
  responses:
    $ref: './responses/_index.yaml'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "JWT tokens should be used with OIDC account (human to machine). JWT tokens used by the Qovery console to communicate with the API have a TTL. Curl Example ' curl https://console.qovery.com/organization -H \"Authorization: Bearer $qovery_token\" '"
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: "Token API are generated by Qovery to manage machine to machine interaction and do not have a TTL. Curl Example ' curl https://console.qovery.com/organization -H \"Authorization: Token $qovery_token\" '"
security:
  - bearerAuth: []
  - ApiKeyAuth: []



