openapi: 3.0.0
info:
  version: 1.0.0
  title: Qovery API
  description: Qovery is the fastest way to deploy your full-stack apps on any Cloud provider
  contact:
    name: Qovery Support Team
    url: https://discord.qovery.com
    email: support+api+documentation@qovery.com
  x-logo:
    url: 'https://uploads-ssl.webflow.com/5de176c0d41c9b4a1dbbb0aa/5f9b214e6d66a454556d8b5b_qovery_logo_with_name_dark_2048.png'
    altText: Qovery 
servers:
  - url: 'https://api.qovery.com'
paths:
  /organization:
    $ref: './resources/Organizations.yaml'
  /organization/{organizationId}:
    $ref: './resources/Organization.yaml'
  /organization/{organizationId}/project:
    $ref: './resources/OrganizationProject.yaml'
  /project/{projectId}:
    $ref: './resources/Project.yaml'
  /project/{projectId}/environment:
    $ref: './resources/ProjectEnvironment.yaml'
  /project/{projectId}/environmentVariable:
    $ref: './resources/ProjectEnvironmentVariable.yaml'
  /project/{projectId}/environmentVariable/{environmentVariableId}:
    $ref: './resources/ProjectEnvironmentVariableRef.yaml'
  /project/{projectId}/secret:
    $ref: './resources/ProjectSecret.yaml'
  /project/{projectId}/secret/{secretId}:
    $ref: './resources/ProjectSecretRef.yaml'
  /environment/{environmentId}:
    $ref: './resources/Environment.yaml'
  /environment/{environmentId}/application:
    $ref: './resources/EnvironmentApplication.yaml'
  /environment/{environmentId}/environmentVariable:
    $ref: './resources/EnvironmentEnvironmentVariable.yaml'
  /environment/{environmentId}/environmentVariable/{environmentVariableId}:
    $ref: './resources/EnvironmentEnvironmentVariableRef.yaml'
  /environment/{environmentId}/secret:
    $ref: './resources/EnvironmentSecret.yaml'
  /environment/{environmentId}/secret/{secretId}:
    $ref: './resources/EnvironmentSecretRef.yaml'
  /application/{applicationId}:
    $ref: './resources/Application.yaml'
  /application/{applicationId}/contributor:
    $ref: './resources/ApplicationContributor.yaml'
  /application/{applicationId}/tag:
    $ref: './resources/ApplicationTag.yaml'
  /application/{applicationId}/Instance:
    $ref: './resources/ApplicationCurrentInstance.yaml'
  /application/{applicationId}/currentScale:
    $ref: './resources/ApplicationCurrentScale.yaml'
  /application/{applicationId}/metric/cpu:
    $ref: './resources/ApplicationMetricCpu.yaml'
  /application/{applicationId}/metric/memory:
    $ref: './resources/ApplicationMetricMemory.yaml'    
  /application/{applicationId}/metric/healthCheck:
    $ref: './resources/ApplicationMetricHealthCheck.yaml'  
  /application/{applicationId}/metric/storage:
    $ref: './resources/ApplicationMetricStorage.yaml'      
  /application/{applicationId}/dependency:
    $ref: './resources/ApplicationDependency.yaml'
  /application/{applicationId}/dependency/{targetApplicationId}:
    $ref: './resources/ApplicationDependencyRef.yaml'
  /application/{applicationId}/commit:
    $ref: './resources/ApplicationCommit.yaml'
  /application/{applicationId}/deploy:
    $ref: './resources/ApplicationDeploy.yaml'
  /application/{applicationId}/event:
    $ref: './resources/ApplicationEvent.yaml'
  /application/{applicationId}/event?tail=:
    $ref: './resources/ApplicationEventTail.yaml'
  /application/{applicationId}/event?lastId=:
    $ref: './resources/ApplicationEventLastId.yaml'
  /application/{applicationId}/event/{eventId}/rollback:
    $ref: './resources/ApplicationEventRollback.yaml'
  /application/{applicationId}/environmentVariable:
    $ref: './resources/ApplicationEnvironmentVariable.yaml'
  /application/{applicationId}/environmentVariable/{environmentVariableId}:
    $ref: './resources/ApplicationEnvironmentVariableRef.yaml'
  /environmentVariable/{environmentVariableId}:
    $ref: './resources/EnvironmentVariable.yaml'
  /application/{applicationId}/secret:
    $ref: './resources/ApplicationSecret.yaml'
  /application/{applicationId}/secret/{secretId}:
    $ref: './resources/ApplicationSecretRef.yaml'
  /application/{applicationId}/customDomain:
    $ref: './resources/ApplicationCustomDomain.yaml'
  /secret/{secretId}:
    $ref: './resources/Secret.yaml'
  /application/{applicationId}/log:
    $ref: './resources/ApplicationLog.yaml'
  /application/{applicationId}/log?tail=:
    $ref: './resources/ApplicationLogTail.yaml'
  /application/{applicationId}/log?lastId=:
    $ref: './resources/ApplicationLogLastId.yaml'
  /application/{applicationId}/database:
    $ref: './resources/ApplicationDatabase.yaml'
  /application/{applicationId}/database/{targetDatabaseId}:
    $ref: './resources/ApplicationDatabaseRef.yaml'
  /application/{applicationId}/start:
    $ref: './resources/ApplicationStart.yaml'
  /application/{applicationId}/stop:
    $ref: './resources/ApplicationStop.yaml'
  /application/{applicationId}/restart:
    $ref: './resources/ApplicationRestart.yaml'
  /environment/{environmentId}/database:
    $ref: './resources/EnvironmentDatabase.yaml'
  /database/{databaseId}:
    $ref: './resources/Database.yaml'
  /customDomain/{customDomainId}:
    $ref: './resources/CustomDomain.yaml'
  /instance/{instanceId}:
    $ref: './resources/Instance.yaml'
components:
  parameters:
    $ref: './parameters/_index.yaml'
  schemas:
    $ref: './schemas/_index.yaml'
  responses:
    $ref: './responses/_index.yaml'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
security:
  - bearerAuth: [ ]
