openapi: 3.0.0
info:
  version: 1.0.0
  title: Qovery API
  description: Qovery is the fastest way to deploy your full-stack apps on any Cloud provider
  contact:
    name: Qovery Support Team
    url: https://discord.qovery.com
    email: support+api+documentation@qovery.com
servers:
  - url: 'https://api.qovery.com'
paths:
  /organization:
    $ref: './resources/Organizations.yaml'
  /organization/{organizationId}:
    $ref: './resources/Organization.yaml'
  /organization/{organizationId}/project:
    $ref: './resources/OrganizationProject.yaml'
  /project/{projectId}:
    $ref: './resources/Project.yaml'
  /project/{projectId}/environment:
    $ref: './resources/ProjectEnvironment.yaml'
  /environment/{environmentId}:
    $ref: './resources/Environment.yaml'
  /environment/{environmentId}/application:
    $ref: './resources/EnvironmentApplication.yaml'
  /application/{applicationId}:
    $ref: './resources/Application.yaml'
  /application/{applicationId}/contributor:
    $ref: './resources/ApplicationContributor.yaml'
  /application/{applicationId}/tag:
    $ref: './resources/ApplicationTag.yaml'
  /application/{applicationId}/database:
    $ref: './resources/ApplicationDatabase.yaml'
  /application/{applicationId}/start:
    $ref: './resources/ApplicationStart.yaml'
  /application/{applicationId}/stop:
    $ref: './resources/ApplicationStop.yaml'
  /application/{applicationId}/restart:
    $ref: './resources/ApplicationRestart.yaml'
  /environment/{environmentId}/database:
    $ref: './resources/EnvironmentDatabase.yaml'
  /database/{databaseId}:
    $ref: './resources/Database.yaml'
components:
  parameters:
    $ref: './parameters/_index.yaml'
  schemas:
    $ref: './schemas/_index.yaml'
  responses:
    $ref: './responses/_index.yaml'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
security:
  - bearerAuth: [ ]
