openapi: 3.0.0
info:
  version: 1.0.1
  title: 'Qovery API'
  description: |
    - Qovery is the fastest way to deploy your full-stack apps on any Cloud provider.
    - ℹ️ The API is stable and still in development.
  contact:
    name: Qovery Product Team
    url: https://www.qovery.com
    email: support+api+documentation@qovery.com
  x-logo:
    url: 'https://raw.githubusercontent.com/Qovery/public-resources/master/qovery_new_logo_white.svg'
    altText: Qovery
tags:
  - name: Account
  - name: Account Info
  - name: Application
  - name: Application Actions
  - name: Application Configuration
  - name: Application Database
  - name: Application Deployment History
  - name: Application Environment Variable
  - name: Application Event
  - name: Application Logs
  - name: Application Main Calls
  - name: Application Metrics
  - name: Application Secret
  - name: Applications
  - name: Backups
  - name: Billing
  - name: Cloud Provider
  - name: Cloud Provider Credentials
  - name: Clusters
  - name: Custom Domain
  - name: Database
  - name: Database Actions
  - name: Database Application
  - name: Database Event
  - name: Database Main Calls
  - name: Database Metrics
  - name: Databases
  - name: Dependency
  - name: Environment
  - name: Environment Actions
  - name: Environment Deployment History
  - name: Environment Deployment Rule
  - name: Environment Logs
  - name: Environment Main Calls
  - name: Environment Secret
  - name: Environment Variable
  - name: Environments
  - name: Git
  - name: Git repositories
  - name: Logical Database
  - name: Members
  - name: Organization
  - name: Organization Main Calls
  - name: Project
  - name: Project Deployment Rule
  - name: Project Environment Variable
  - name: Project Main Calls
  - name: Project Secret
  - name: Projects
  - name: Referral & Rewards
x-tagGroups:
  - name: Organization
    tags:
      - Organization Main Calls
      - Projects
      - Members
      - Billing
      - Clusters
      - Cloud Provider
      - Cloud Provider Credentials
  - name: Project
    tags:
      - Project Main Calls
      - Environments
      - Project Deployment Rule
      - Project Environment Variable
      - Project Secret
  - name: Environment
    tags:
      - Environment Main Calls
      - Applications
      - Databases
      - Environment Actions
      - Environment Logs
      - Environment Deployment History
      - Environment Deployment Rule
      - Environment Variable
      - Environment Secret
  - name: Application
    tags:
      - Application Main Calls
      - Application Actions
      - Application Configuration
      - Custom Domain
      - Dependency
      - Application Metrics
      - Application Database
      - Application Logs
      - Application Deployment History
      - Application Environment Variable
      - Application Secret
      - Application Event
  - name: Database
    tags:
      - Database Main Calls
      - Database Actions
      - Database Metrics
      - Database Applications
      - Logical Database
      - Database Application
      - Backups
      - Database Event
  - name: Account
    tags:
      - Account Info
      - Git repositories
      - Referral & Rewards
  - name: Git
    tags:
      - Git repositories
servers:
  - url: 'https://api.qovery.com'
paths:
  /organization:
    $ref: './resources/Organizations.yaml'
  /organization/{organizationId}:
    $ref: './resources/Organization.yaml'
  /organization/{organizationId}/member:
    $ref: './resources/OrganizationMember.yaml'
  /organization/{organizationId}/member/{userId}:
    $ref: './resources/OrganizationMemberRef.yaml'
  /organization/{organizationId}/inviteMember:
    $ref: './resources/OrganizationInviteMember.yaml'
  /organization/{organizationId}/inviteMember/{inviteId}:
    $ref: './resources/OrganizationInviteMemberRef.yaml'
  /organization/{organizationId}/transferOwnership:
    $ref: './resources/OrganizationTransferOwnership.yaml'
  /organization/{organizationId}/currentCost:
    $ref: './resources/OrganizationCurrentCost.yaml'
  /organization/{organizationId}/creditCode:
    $ref: './resources/OrganizationCreditCode.yaml'
  /organization/{organizationId}/cluster/{clusterId}/currentCost:
    $ref: './resources/OrganizationClusterCurrentCost.yaml'
  /organization/{organizationId}/billingInfo:
    $ref: './resources/OrganizationBillingInfo.yaml'
  /organization/{organizationId}/billingStatus:
    $ref: './resources/OrganizationBillingStatus.yaml'
  /organization/{organizationId}/invoice:
    $ref: './resources/OrganizationInvoiceList.yaml'
  /organization/{organizationId}/invoice/{invoiceId}:
    $ref: './resources/OrganizationInvoiceDetail.yaml'
  /organization/{organizationId}/invoice/{invoiceId}/download:
    $ref: './resources/OrganizationInvoiceDownload.yaml'
  /organization/{organizationId}/downloadInvoices:
    $ref: './resources/OrganizationInvoiceDownloadAll.yaml'
  /organization/{organizationId}/creditCard:
    $ref: './resources/OrganizationCreditCard.yaml'
  /organization/{organizationId}/creditCard/{creditCardId}:
    $ref: './resources/OrganizationCreditCardRef.yaml'
  /organization/{organizationId}/project:
    $ref: './resources/OrganizationProject.yaml'
  /organization/{organizationId}/project/stats:
    $ref: './resources/OrganizationProjectStats.yaml'
  /organization/{organizationId}/cluster:
    $ref: './resources/OrganizationCluster.yaml'
  /organization/{organizationId}/cluster/status:
    $ref: './resources/OrganizationClusterStatusList.yaml'
  /organization/{organizationId}/cluster/{clusterId}:
    $ref: './resources/OrganizationClusterRef.yaml'
  /organization/{organizationId}/cluster/{clusterId}/status:
    $ref: './resources/OrganizationClusterStatus.yaml'
  /organization/{organizationId}/cluster/{clusterId}/routingTable:
    $ref: './resources/OrganizationClusterRoutingTable.yaml'
  /organization/{organizationId}/aws/credentials:
    $ref: './resources/CloudProviderAWSCredentials.yaml'
  /organization/{organizationId}/aws/credentials/{credentialsId}:
    $ref: './resources/CloudProviderAWSCredentialsRef.yaml'
  /organization/{organizationId}/digitalOcean/credentials:
    $ref: './resources/CloudProviderDOCredentials.yaml'
  /organization/{organizationId}/digitalOcean/credentials/{credentialsId}:
    $ref: './resources/CloudProviderDOCredentialsRef.yaml'
  /organization/{organizationId}/scaleway/credentials:
    $ref: './resources/CloudProviderScalewayCredentials.yaml'
  /organization/{organizationId}/scaleway/credentials/{credentialsId}:
    $ref: './resources/CloudProviderScalewayCredentialsRef.yaml'
  /cloudProvider:
    $ref: './resources/CloudProvider.yaml'
  /aws/region:
    $ref: './resources/CloudProviderAWSRegion.yaml'
  /aws/clusterFeature:
    $ref: './resources/CloudProviderAWSClusterFeature.yaml'
  /digitalOcean/region:
    $ref: './resources/CloudProviderDORegion.yaml'
  /digitalOcean/clusterFeature:
    $ref: './resources/CloudProviderDOClusterFeature.yaml'
  /scaleway/region:
    $ref: './resources/CloudProviderScalewayRegion.yaml'
  /scaleway/clusterFeature:
    $ref: './resources/CloudProviderScalewayClusterFeature.yaml'
  /organization/{organizationId}/cluster/{clusterId}/cloudProviderInfo:
    $ref: './resources/OrganizationClusterCloudProviderInfo.yaml'
  /organization/{organizationId}/cluster/{clusterId}/isReady:
    $ref: './resources/OrganizationClusterIsReady.yaml'
  /organization/{organizationId}/cluster/{clusterId}/deploy:
    $ref: './resources/OrganizationClusterDeploy.yaml'
  /organization/{organizationId}/cluster/{clusterId}/update:
    $ref: './resources/OrganizationClusterUpdate.yaml'
  /organization/{organizationId}/cluster/{clusterId}/stop:
    $ref: './resources/OrganizationClusterStop.yaml'
  /project/{projectId}:
    $ref: './resources/Project.yaml'
  /project/{projectId}/deploymentRule:
    $ref: './resources/ProjectDeploymentRule.yaml'
  /project/{projectId}/deploymentRule/{deploymentRuleId}:
    $ref: './resources/ProjectDeploymentRuleRef.yaml'
  /project/{projectId}/deploymentRule/order:
    $ref: './resources/ProjectDeploymentRulesPriorityOrder.yaml'
  /project/{projectId}/environment:
    $ref: './resources/ProjectEnvironment.yaml'
  /project/{projectId}/environmentVariable:
    $ref: './resources/ProjectEnvironmentVariable.yaml'
  /project/{projectId}/environmentVariable/{environmentVariableId}:
    $ref: './resources/ProjectEnvironmentVariableRef.yaml'
  /project/{projectId}/environmentVariable/{environmentVariableId}/override:
    $ref: './resources/ProjectEnvironmentVariableOverride.yaml'
  /project/{projectId}/environmentVariable/{environmentVariableId}/alias:
    $ref: './resources/ProjectEnvironmentVariableAlias.yaml'
  /project/{projectId}/secret:
    $ref: './resources/ProjectSecret.yaml'
  /project/{projectId}/secret/{secretId}:
    $ref: './resources/ProjectSecretRef.yaml'
  /project/{projectId}/secret/{secretId}/override:
    $ref: './resources/ProjectSecretOverride.yaml'
  /project/{projectId}/secret/{secretId}/alias:
    $ref: './resources/ProjectSecretAlias.yaml'
  /project/{projectId}/environment/status:
    $ref: './resources/ProjectEnvironmentStatus.yaml'
  /project/{projectId}/environment/stats:
    $ref: './resources/ProjectEnvironmentStats.yaml'
  /environment/{environmentId}:
    $ref: './resources/Environment.yaml'
  /environment/{environmentId}/status:
    $ref: './resources/EnvironmentStatus.yaml'
  /environment/{environmentId}/deploymentRule:
    $ref: './resources/EnvironmentDeploymentRule.yaml'
  /environment/{environmentId}/deploymentRule/{deploymentRuleId}:
    $ref: './resources/EnvironmentDeploymentRuleRef.yaml'
  /environment/{environmentId}/deploy:
    $ref: './resources/EnvironmentDeploy.yaml'
  /environment/{environmentId}/stop:
    $ref: './resources/EnvironmentStop.yaml'
  /environment/{environmentId}/restart:
    $ref: './resources/EnvironmentRestart.yaml'
  /environment/{environmentId}/cancelDeployment:
    $ref: './resources/EnvironmentCancelDeployment.yaml'
  /environment/{environmentId}/clone:
    $ref: './resources/EnvironmentClone.yaml'
  /environment/{environmentId}/application:
    $ref: './resources/EnvironmentApplication.yaml'
  /environment/{environmentId}/application/status:
    $ref: './resources/EnvironmentApplicationStatus.yaml'
  /environment/{environmentId}/application/instance:
    $ref: './resources/EnvironmentApplicationCurrentInstance.yaml'
  /environment/{environmentId}/application/currentStorage:
    $ref: './resources/EnvironmentApplicationsCurrentStorage.yaml'
  /environment/{environmentId}/application/currentScale:
    $ref: './resources/EnvironmentApplicationCurrentScale.yaml'
  /environment/{environmentId}/application/supportedLanguage:
    $ref: './resources/EnvironmentApplicationSupportedLanguage.yaml'
  /environment/{environmentId}/log:
    $ref: './resources/EnvironmentLog.yaml'
  /environment/{environmentId}/deploymentHistory:
    $ref: './resources/EnvironmentDeploymentHistory.yaml'
  /environment/{environmentId}/environmentVariable:
    $ref: './resources/EnvironmentEnvironmentVariable.yaml'
  /environment/{environmentId}/environmentVariable/{environmentVariableId}:
    $ref: './resources/EnvironmentEnvironmentVariableRef.yaml'
  /environment/{environmentId}/environmentVariable/{environmentVariableId}/override:
    $ref: './resources/EnvironmentEnvironmentVariableOverride.yaml'
  /environment/{environmentId}/environmentVariable/{environmentVariableId}/alias:
    $ref: './resources/EnvironmentEnvironmentVariableAlias.yaml'
  /environment/{environmentId}/secret:
    $ref: './resources/EnvironmentSecret.yaml'
  /environment/{environmentId}/secret/{secretId}:
    $ref: './resources/EnvironmentSecretRef.yaml'
  /environment/{environmentId}/secret/{secretId}/override:
    $ref: './resources/EnvironmentSecretOverride.yaml'
  /environment/{environmentId}/secret/{secretId}/alias:
    $ref: './resources/EnvironmentSecretAlias.yaml'
  /environment/{environmentId}/link:
    $ref: './resources/EnvironmentLink.yaml'
  /environment/{environmentId}/databaseConfiguration:
    $ref: './resources/EnvironmentDatabaseConfiguration.yaml'
  /application/{applicationId}:
    $ref: './resources/Application.yaml'
  /application/{applicationId}/status:
    $ref: './resources/ApplicationStatus.yaml'
  /application/{applicationId}/contributor:
    $ref: './resources/ApplicationContributor.yaml'
  /application/{applicationId}/tag:
    $ref: './resources/ApplicationTag.yaml'
  /application/{applicationId}/tag/{tagId}:
    $ref: './resources/ApplicationTagRef.yaml'
  /application/{applicationId}/instance:
    $ref: './resources/ApplicationCurrentInstance.yaml'
  /application/{applicationId}/currentStorage:
    $ref: './resources/ApplicationCurrentStorageDisk.yaml'
  /application/{applicationId}/currentScale:
    $ref: './resources/ApplicationCurrentScale.yaml'
  /application/{applicationId}/metric/cpu:
    $ref: './resources/ApplicationMetricCpu.yaml'
  /application/{applicationId}/metric/memory:
    $ref: './resources/ApplicationMetricMemory.yaml'
  /application/{applicationId}/metric/healthCheck:
    $ref: './resources/ApplicationMetricHealthCheck.yaml'
  /application/{applicationId}/metric/storage:
    $ref: './resources/ApplicationMetricStorage.yaml'
  /application/{applicationId}/metric/restart:
    $ref: './resources/ApplicationMetricRestart.yaml'
  /application/{applicationId}/dependency:
    $ref: './resources/ApplicationDependency.yaml'
  /application/{applicationId}/dependency/{targetApplicationId}:
    $ref: './resources/ApplicationDependencyRef.yaml'
  /application/{applicationId}/commit:
    $ref: './resources/ApplicationCommit.yaml'
  /application/{applicationId}/deploy:
    $ref: './resources/ApplicationDeploy.yaml'
  /application/{applicationId}/stop:
    $ref: './resources/ApplicationStop.yaml'
  /application/{applicationId}/restart:
    $ref: './resources/ApplicationRestart.yaml'
  /application/{applicationId}/deploymentHistory:
    $ref: './resources/ApplicationDeploymentHistory.yaml'
  /application/{applicationId}/event:
    $ref: './resources/ApplicationEvent.yaml'
  /application/{applicationId}/environmentVariable:
    $ref: './resources/ApplicationEnvironmentVariable.yaml'
  /application/{applicationId}/environmentVariable/import:
    $ref: './resources/VariableImport.yaml'
  /application/{applicationId}/environmentVariable/{environmentVariableId}:
    $ref: './resources/ApplicationEnvironmentVariableRef.yaml'
  /application/{applicationId}/environmentVariable/{environmentVariableId}/override:
    $ref: './resources/ApplicationEnvironmentVariableOverride.yaml'
  /application/{applicationId}/environmentVariable/{environmentVariableId}/alias:
    $ref: './resources/ApplicationEnvironmentVariableAlias.yaml'
  /application/{applicationId}/secret:
    $ref: './resources/ApplicationSecret.yaml'
  /application/{applicationId}/secret/{secretId}:
    $ref: './resources/ApplicationSecretRef.yaml'
  /application/{applicationId}/secret/{secretId}/override:
    $ref: './resources/ApplicationSecretOverride.yaml'
  /application/{applicationId}/secret/{secretId}/alias:
    $ref: './resources/ApplicationSecretAlias.yaml'
  /application/{applicationId}/customDomain:
    $ref: './resources/ApplicationCustomDomain.yaml'
  /application/{applicationId}/customDomain/{customDomainId}:
    $ref: './resources/ApplicationCustomDomainRef.yaml'
  /application/{applicationId}/customDomain/{customDomainId}/status:
    $ref: './resources/ApplicationCustomDomainStatus.yaml'
  /application/{applicationId}/log:
    $ref: './resources/ApplicationLog.yaml'
  /application/{applicationId}/network:
    $ref: './resources/ApplicationNetwork.yaml'
  /application/{applicationId}/database:
    $ref: './resources/ApplicationDatabase.yaml'
  /application/{applicationId}/database/{targetDatabaseId}:
    $ref: './resources/ApplicationDatabaseRef.yaml'
  /application/{applicationId}/logicalDatabase:
    $ref: './resources/ApplicationLogicalDatabase.yaml'
  /application/{applicationId}/logicalDatabase/{targetLogicalDatabaseId}:
    $ref: './resources/ApplicationLogicalDatabaseRef.yaml'
  /application/{applicationId}/link:
    $ref: './resources/ApplicationLink.yaml'
  /environment/{environmentId}/database:
    $ref: './resources/EnvironmentDatabase.yaml'
  /environment/{environmentId}/database/status:
    $ref: './resources/EnvironmentDatabaseStatus.yaml'
  /environment/{environmentId}/database/currentMetric:
    $ref: './resources/EnvironmentDatabasesCurrentMetric.yaml'
  /database/{databaseId}:
    $ref: './resources/Database.yaml'
  /database/{databaseId}/status:
    $ref: './resources/DatabaseStatus.yaml'
  /database/{databaseId}/version:
    $ref: './resources/DatabaseVersion.yaml'
  /database/{databaseId}/masterCredentials:
    $ref: './resources/DatabaseMasterCredentials.yaml'
  /database/{databaseId}/logicalDatabase:
    $ref: './resources/DatabaseLogicalDatabase.yaml'
  /database/{databaseId}/application:
    $ref: './resources/DatabaseApplication.yaml'
  /database/{databaseId}/application/{targetApplicationId}:
    $ref: './resources/DatabaseApplicationRef.yaml'
  /database/{databaseId}/restart:
    $ref: './resources/DatabaseRestart.yaml'
  /database/{databaseId}/stop:
    $ref: './resources/DatabaseStop.yaml'
  /database/{databaseId}/deploy:
    $ref: './resources/DatabaseDeploy.yaml'
  /database/{databaseId}/currentMetric:
    $ref: './resources/DatabaseCurrentMetric.yaml'
  /database/{databaseId}/metric/cpu:
    $ref: './resources/DatabaseMetricCpu.yaml'
  /database/{databaseId}/metric/memory:
    $ref: './resources/DatabaseMetricMemory.yaml'
  /database/{databaseId}/metric/storage:
    $ref: './resources/DatabaseMetricStorage.yaml'
  /database/{databaseId}/metric/healthCheck:
    $ref: './resources/DatabaseMetricHealthCheck.yaml'
  /database/{databaseId}/metric/restart:
    $ref: './resources/DatabaseMetricRestart.yaml'
  /database/{databaseId}/backup:
    $ref: './resources/DatabaseBackup.yaml'
  /database/{databaseId}/backup/{backupId}:
    $ref: './resources/DatabaseBackupRef.yaml'
  /database/{databaseId}/event:
    $ref: './resources/DatabaseEvent.yaml'
  /logicalDatabase/{logicalDatabaseId}:
    $ref: './resources/LogicalDatabase.yaml'
  /logicalDatabase/{logicalDatabaseId}/credentials:
    $ref: './resources/LogicalDatabaseCredentials.yaml'
  /logicalDatabase/{logicalDatabaseId}/application:
    $ref: './resources/LogicalDatabaseApplication.yaml'
  /account:
    $ref: './resources/AccountInformation.yaml'
  /account/gitAuthProvider:
    $ref: './resources/AccountGitAuthProvider.yaml'
  /account/github/repository:
    $ref: './resources/AccountGitRepositoryGithub.yaml'
  /account/github/repository/branch:
    $ref: './resources/AccountGitRepositoryGithubBranch.yaml'
  /account/gitlab/repository:
    $ref: './resources/AccountGitRepositoryGitlab.yaml'
  /account/gitlab/repository/branch:
    $ref: './resources/AccountGitRepositoryGitlabBranch.yaml'
  /account/bitbucket/repository:
    $ref: './resources/AccountGitRepositoryBitbucket.yaml'
  /account/bitbucket/repository/branch:
    $ref: './resources/AccountGitRepositoryBitbucketBranch.yaml'
  /account/referral:
    $ref: './resources/AccountReferral.yaml'
  /account/rewardClaim:
    $ref: './resources/AccountRewardClaim.yaml'
components:
  parameters:
    $ref: './parameters/_index.yaml'
  schemas:
    $ref: './schemas/_index.yaml'
  responses:
    $ref: './responses/_index.yaml'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
security:
  - bearerAuth: []
