name: Bump version

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Semver type of new version (major / minor / patch)'
        required: true
        type: choice
        options:
          - patch
          - minor
          - major

permissions:
  contents: read

jobs:
  bump-version:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Check out source
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.API_TOKEN_GITHUB }}

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24'
          cache: 'npm'

      - name: Install npm packages
        run: npm ci

      - name: Setup Git
        run: |
          git config user.name 'Qovery Bot'
          git config user.email 'github@qovery.com'

      - name: Bump Version
        run: npm version ${{ github.event.inputs.version }}

      - name: Push changes with tags
        run: git push origin main --follow-tags
