name: Create Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: read

jobs:
  create-github-release:
    name: Create GitHub Release
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Create Release Notes
        uses: actions/github-script@v8
        with:
          github-token: ${{secrets.API_TOKEN_GITHUB}}
          script: |
            await github.request(`POST /repos/${{ github.repository }}/releases`, {
              tag_name: "${{ github.ref }}",
              generate_release_notes: true
            });
